[2017-11-06 10:57] larry-dev opened #144 "CancelledError cannot be handled properly in socketio"
We can't handle cancellederror correctly therefor our applications receieve so many cancellederros in errorlog. and the service were shutdown sometimes. we asked experts in aiohttp and aiojobs , we were told that the actual cause could be only related with python-socketio.

[The more information are in the thread which were just moved from aiojobs](https://github.com/aio-libs/aiojobs/issues/18)

[2017-11-06 10:58] larry-dev commented on #144
Can you help me!!!

[2017-11-06 18:18] miguelgrinberg commented on #144
Do you have stack traces that show these errors please?

[2017-11-06 19:46] el-aro opened #145 "can't emit from threads to room"
I'm starting threads to retrieve information to the user from server every minute.

`join_room(message['custom_id'])
#some validations
socketio.start_background_task(custom_thread,[message['custom_id']])`

then from the thead following the example i try to emit to the client, but it doesn't work when the message is to a room in specific room, only when is a global emit, my function:

`
def culstom

[2017-11-06 20:03] miguelgrinberg commented on #145
@el-aro aren't you missing a `room='your_room_name'` in your code example? How were you planning to emit to a room without providing the room name?

[2017-11-06 20:25] el-aro commented on #145
Im taking the "cultivo_id" as a rooms name, and that is my other function where i do that...

`@socketio.on('my_custom_event', namespace='/test')
def send_cultivo_message(message):
    session['receive_count'] = session.get('receive_count', 0) + 1
    print('por enviar a cultivo',message['cultivo_id'])
    emit('get_sensores',
         {'data': message['data'], 'count': session['receive_count']},

[2017-11-06 21:18] miguelgrinberg commented on #145
I don't really understand your examples. Regarding this statement:

    socketio.emit('my_custom_event',
                  {'data': json.dumps(vectores), 'count': count,'cultivo_id': data[0]},
                  namespace='/test')#this doesn't, that is basically a copy of the function to emit for rooms

You seem to imply this should be sent only to a room, but you are not specifying a room, so it's

[2017-11-07 01:59] larry-dev commented on #144
'''
[2017-11-05 22:41:04][ERROR][Traceback (most recent call last):
  File "/home/wwwroot/ykrealtime/venv36/lib/python3.6/site-packages/engineio/asyncio_socket.py", line 19, in poll
    self.server.ping_timeout)]
  File "/usr/local/python36/lib/python3.6/asyncio/tasks.py", line 351, in wait_for
    yield from waiter
concurrent.futures._base.CancelledError

During handling of the above exception, a

[2017-11-07 02:16] miguelgrinberg commented on #144
@larry-dev looks like the stack trace that you pasted is not complete. Can you please show me the complete chain of stack traces?

[2017-11-07 02:32] larry-dev commented on #144
'''
Traceback (most recent call last):
  File "/Users/larryliu/Documents/01-Project/python/ykrealtime/venv/lib/python3.6/site-packages/aioredis/util.py", line 79, in wait_make_dict
    res = yield from fut
concurrent.futures._base.CancelledError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/larryliu/Documents/01-Project/pyth

[2017-11-07 02:33] larry-dev commented on #144
@miguelgrinberg
We have a scenario that requires the user to close the application and continue processing the data.
but the user close application threw cancelled from aioredis.
So it looks like this, and I don't know if you can work it out

[2017-11-07 03:27] el-aro commented on #145
the second doe'st work inside the thread, but when i write the same function outside, it works. idk what im missing.  is not suppose to run the method with decorator called "send_cultivo_message" and there in the "emit" function (without socketio object) you use in "data[0]" the rooms name.

[2017-11-07 20:39] miguelgrinberg commented on #145
No, that is not currently available. Because Socket.IO supports multiple servers, it is really not easy to find out when a room is empty, since there might be participants in that room distributed among different servers. For that reason there is no detection of empty rooms at this time.

[2017-11-07 20:58] miguelgrinberg commented on #144
@larry-dev correct me if I'm wrong, but this stack trace generated a `CancelledError` while your application was working with Redis. I don't see anything that indicates that Socket.IO was accessing Redis when the cancellation occurred.

The cancellation occurred here if I'm not mistaken:

[code]

So shouldn't you catch the `CancelledError` exception and deal with it as appropriate for your applica

[2017-11-09 02:33] larry-dev commented on #144
@miguelgrinberg you are right.now i catch the `CancelledError` exception and retry.solved the problem.

[2017-11-09 02:34] larry-dev commented on #144
thx a lot

[2017-11-09 02:34] #144 closed

[2017-11-21 12:38] myrfy001 opened #147 "websocket not working with sanic"
WIth the following environment:
[code]
running the sanic example in `example/sanic` got the following error and the websocket can't be used while the aiohttp example works fine.

[code]

[2017-11-21 18:00] miguelgrinberg commented on #147
Looks like the websockets 4.0 and up versions are causing this problem. Downgrading to 3.4 resolves it for me. I'll have to investigate what changed on that release.

[2017-11-22 17:56] Sefirq opened #148 "After last disconnect, can't connect again"
Hello,

I'm using python-socketio which sends jsons generated by my generator and when I run this server, my Apache Flink collects strings as Java socket io-client. Each client from Java connects and on /connect event and I register him to specific room. If there is no thread, whose task is to emit one json, then sleep for 1 second, we create it. Event hello is awaited in Java client, you can see

[2017-11-22 18:24] miguelgrinberg commented on #148
First of all, that `sleep(1)` needs to be changed to `await asyncio.sleep(1)`. You can't block with a regular sleep call.

As far as the connection problems, I suggest you enable logging to see if that provides any additional information. It's strange that your first connection gets disconnected immediately, that is not normal. Are you using the official Socket.IO client for Java for this?

[2017-11-22 18:42] Sefirq commented on #148
Okay, so firstly, when I change to await scyncio.sleep(1), it generates one event and won't emit more events.

As for logging, I had it enabled via
```sio = socketio.AsyncServer(logger=True)```

and then the whole output looks like this:
[code]

[2017-11-22 18:46] miguelgrinberg commented on #148
You need to look into this, this is not expected. You probably have other blocking things somewhere else in your application.

As for the logging, add `engineio_logger=True` for more detailed information, but this is not going to be useful until you get your application to run unblocked, so look at the other problem first.

[2017-11-22 18:53] Sefirq commented on #148
Sorry, I did not import asyncio module, so I will try to recreate my message so it may help others:

"Okay, so firstly, when I change to await asyncio.sleep(1), it generates one event and won't emit more events." <- just import fail
"I enabled logger and this is the input:

[code]

Basically: for now it seems to work with this asyncio sleep, I will test it better and if everything is OK, I will cl

[2017-11-30 03:38] LinuxCircle opened #149 "handling timeout"
How do we detect timeout in the ping pong program?
Supposed we use mobile phone as the web client and move it away from the server until wifi gets disconnected, will it get detected by the server, or will it just wait forever?

Can you give us example of relevant Exception for that?

[2017-11-30 03:58] miguelgrinberg commented on #149
If you are asking about exceptions on the client side, that depends on the client that you are using.

For the server, when a client disconnects you are going to get a `'disconnect'` event. If you have a handler for this event, then your function can do whatever is necessary for this client that is gone.

Note that the Socket.IO protocol includes reconnection attempts, so as soon as the client is

[2017-12-04 11:49] rettier opened #150 "remote callbacks not working properly"
Today i added callbacks to my application but i came across two major issues.

1) when using the async manager the `_return_callback` function is wrapped in a partial. The asyncio.iscoroutinefunction tests whether the function is a coroutine when the callback is executed, but the partial (wrongly) is not classified as a coroutinefunction.

2) the callbacks are returned into the message queue not w

[2017-12-06 10:27] GuangTianLi opened #151 "Get current request object in sanic."
https://github.com/miguelgrinberg/python-socketio/blob/ef7088d67a5b26fa57f921797057622f6525f768/examples/sanic/app.py#L35
How can I get the request context in one event.It's seem you don't pass parameters into event callback function

[2017-12-06 17:36] miguelgrinberg commented on #151
There isn't a request object for Socket.IO events. If you want to access the request object that was used during the Socket.IO connection, you can find at at `sio.environ['sanic.request']`.

[2017-12-08 17:09] #150 closed

[2017-12-08 17:10] miguelgrinberg commented on #150
@rettier Thanks for the detailed report and the patch.

I'm honestly surprised (maybe a little ashamed too) that this was never implemented correctly. But in any case, using your patch as a base I have now think this is addressed. Can I ask you to try the master branch and confirm that everything works for you, before I cut a release?

[2017-12-08 23:03] rettier commented on #150
I have not tried the master branch yet, but as far as i can see the async pubsub manager does not send the correct host id, as the commit only changes the sync. pubsub manager:
https://github.com/miguelgrinberg/python-socketio/blob/8d7059a1a22e2d5e3092623251ab357046595a33/socketio/asyncio_pubsub_manager.py#L99

[2017-12-09 12:40] rettier commented on #150
#152

[2017-12-09 18:24] miguelgrinberg commented on #150
Oops, yes, I fixed the non-asyncio pubsub_manager only. Need to add the same fix to the asyncio one. Sorry!

[2017-12-09 18:33] miguelgrinberg commented on #150
@rettier Okay, the asyncio version of this fix is now committed. Sorry about that.

[2017-12-11 08:47] rettier commented on #150
tested this and can confirm it now works for my usecase -> 2 asyncio servers with callbacks

[2017-12-13 19:22] anthraxx opened #153 "test regression testMethod=test_logger in 1.8.4"
Hi, since 1.8.4 i encountered a regression visible through the test suite:
[code]

[2017-12-13 19:55] miguelgrinberg commented on #153
That's weird. There were no logging changes in 1.8.4, and besides, that test continues to pass on Travis.

[2017-12-13 21:23] anthraxx commented on #153
@miguelgrinberg interesting, not sure why, maybe because of some kind of stdout hooking, but using pytest to run the tests leads to this behavior while using setup.py test lets it pass

[2017-12-13 21:27] miguelgrinberg commented on #153
But you are saying that with 1.8.3 still under pytest this test did not fail?

[2017-12-14 12:35] anthraxx commented on #153
@miguelgrinberg apparently this is a feature since pytest 3.3.0 named catchlog and socketio 1.8.3 was back then build with pytest 3.2.x
https://github.com/pytest-dev/pytest/blame/master/CHANGELOG.rst
https://github.com/pytest-dev/pytest/pull/2794

[2017-12-19 18:07] cs01 commented on #35
Thanks @crobertsbmw, this helped me too. Or is it that `pyinstaller` doesn't play well with `eventlet`?Either way, falling back to threading is a good workaround.

[2017-12-20 16:56] peterchen16 opened #155 "Emit signal after model save"
I tried to emit signal after model save in django, but it's not working

I put sio.emit('signal_name', {'data': data}, namespace="/space") inside the post_save function of django.

Basically I can't emit anything with sio.emit('signal_name', {'data': data}, namespace="/space")

I need @sio.on('....', namespace='/space') as decorator to emit data

[2017-12-21 04:17] miguelgrinberg commented on #155
Not sure what the problem is for you, but you should be able to emit outside of an event handler. Here is an example where this is done and it works well: https://github.com/miguelgrinberg/python-socketio/blob/master/examples/wsgi/django_example/socketio_app/views.py#L29.

[2017-12-21 17:22] peterchen16 commented on #155
I am not able to emit outside of the file where I initiated socketio.Server

I think it's thread problem as my sio is initiated in the main thread, but the file that called the sio to emit is in another thread

[2017-12-21 17:41] miguelgrinberg commented on #155
@peterchen16 that shouldn't be a problem. The piece of code I showed you does the same thing. Do you get any errors, stacktraces, etc?

[2017-12-21 17:47] peterchen16 commented on #155
no I don't get any error, it just runs without emitting anything.

the on connect emits fine, and any other back and forth on event handler emits fine with the client

but if I want to emit from another file, it does nothing

[2017-12-22 02:50] chenray844 opened #156 "when arraybuffer's byte length is 10**8, the connection is broken."
hello @miguelgrinberg :+1:

I want to send ArrayBuffer between client and server using socket.io. when I send buffer size in 10**8, the connection is broken. but when size is 10 , it's OK.

I want to know why, when the buffer size is large, the broken happens.

- **packages**
  - sanic == 0.6.0
  - socketio == 1.8.1

**code**
- HTML
[code]

- sanic server

[code]

output:

![selection_234](https:/

[2017-12-22 04:40] miguelgrinberg commented on #156
Could this be the `max_http_buffer_size` argument, which defaults to 100MB? Try making that bigger.

[2017-12-22 04:41] miguelgrinberg commented on #155
You need to add logging on both sides, to see where is the emit getting dropped.

[2017-12-22 05:07] peterchen16 commented on #155
I logged on both, backend print statement happened after emit, frontend on event did not print anything

[2017-12-22 05:23] miguelgrinberg commented on #155
By "logging" I did not mean add print statements, I meant that you enable the logging that the Socket.IO server and client produce.

[2017-12-22 05:30] chenray844 commented on #156
thanks for replay.
when I set `max_http_buffer_size` to `10**100`, the error is same.
[code]

and doc shows:
- max_http_buffer_size – The maximum size of a message when using the polling transport.

this argument is for polling transport, but in this project, the transport has upgraded to websocket, and this upgrade is successful.

[2017-12-22 05:32] miguelgrinberg commented on #156
Well, I actually don't think you are using websocket for this large message. Note that the "upgraded to websocket" message comes after byte array package is logged.

Try either making that maximum size bigger, or else make sure you send your packet after the upgrade to websocket is complete.

[2017-12-22 05:53] peterchen16 commented on #155
In the backend, it does print

emitting event "server response" to all [/test]

when I do sio.emit(....)

but on the frontend, nothing prints with the following code

socket.on('server response', function(msg) {
        console.log(msg.data);
    });

[2017-12-22 06:07] ak64th commented on #155
I'm using django with python-socketio with RedisManager. It just works.
[code]
[code]

If you run socketio and wsgi server in different processes, it's necessary to have a external message queue

[2017-12-22 06:50] chenray844 commented on #156
Thanks,
I make the `max_http_buffer_size` big enough, and send after the upgrade to websocket successful, when in `sanic` mode, these error always occur, but in `aiohttp` mode, **no error**.

[code]

[2017-12-22 16:43] peterchen16 commented on #155
can you show me the show sio.py file?

[2017-12-23 03:44] peterchen16 commented on #155
can you explain how start_background_task can help emit signal after model save? @miguelgrinberg

[2017-12-23 05:04] miguelgrinberg commented on #155
I don't understand the question. The `start_background_task()` function is irrelevant to your problem, it was just to demonstrate that you can have a random thread emitting Socket.IO events. If you have a complete example that you can share (and that it will not take me time to set up here) I can give it a try and let you know what the problem is.

[2017-12-23 15:18] ak64th commented on #155
@peterchen16
I did post the cotents of sio.py in my first comment, the part started with `# sio.py`.

[2017-12-23 16:54] miguelgrinberg commented on #155
I can't run a code snippet, I have no way to test it. You'll have to debug it on your side.

[2017-12-25 02:17] johnroper100 opened #157 "Script stop error"
I have a button in my UI that sends a message to shutdown the server. This is the endpoint:

[code]

I am using aiohttp. When the message is sent, I get an `async message error` and the script does not stop. Any ideas on why this is and/or a better way to do this? Thanks in advance!

[2017-12-25 08:57] miguelgrinberg commented on #157
Stopping a server is a tricky problem. You can really call `sys.exit()` in a handler, because that would interrupt the connection with the client. Usually servers that support this provide a way to exit gracefully. You may also see if by sending the process a signal such as SIGINT you can get it to exit.

[2017-12-25 13:17] johnroper100 commented on #157
Aiohttp has an `app.shutdown()` function, but that did not do anything. I don't mind closing the connection with the client. My reason for doing this is that when I use pyinstaller, the console does not show up so there is no way for the user to stop the script in without going into the system process manager.

[2017-12-25 19:41] miguelgrinberg commented on #157
I'm not sure how I can help with this, but there is page on server shutdown in the aiohttp documentation, hopefully this is going to give you what you need: https://docs.aiohttp.org/en/stable/web.html#aiohttp-web-graceful-shutdown.

[2017-12-27 19:00] peterchen16 commented on #155
Can you provide a full example using redis? @ak64th

[2017-12-27 20:58] peterchen16 commented on #155
RuntimeError: Redis requires a monkey patched socket library to work with eventlet

I got this error when running the socket server

[2017-12-29 15:42] nik012003 opened #158 "[Question] How dan I set heartbeat interval?"
Hi guys,
I'm making a web app and I need to know if the client has lost connection to the server at least 2times/s , how can I set the heartbeat interval to a low value in this code?
[code]

[2017-12-29 15:58] #158 closed

[2017-12-29 15:59] nik012003 commented on #158
Fixed it with:
`sio = socketio.AsyncServer(async_mode='aiohttp',ping_interval=1,ping_timeout=2)
`

[2017-12-30 07:05] adiun commented on #65
I was having the same issue with py-sio 1.8.0 and py-eio 2.0.1, but didn't have any emits on server-side connect events. The workaround from @bundabrg fixed my connection issue too - Thanks!

[2018-01-12 18:12] juliusbierk opened #159 "Problem with aiohttp==2.3.7"
For reference see stack overflow post: https://stackoverflow.com/questions/48229592/understanding-async-await-in-python-socket-io-aiohttp-server#comment83445645_48229592

On running

[code]

And doing
[code]
from node.js, only the first message arrives.

This is not a problem with (some) other versions of aiohttp.
Sorry if this is not an actual problem with python-socketio...

[2018-01-15 20:33] #143 closed

[2018-01-16 14:36] adrian410 opened #160 "Not emitting from callback"
Hello,

I try to create a socketio server with a binance websocket server.

The binance websocket server fire a callback every 5seconds or so. (Line 30 ) in my code => #1
The callback is fire from another thread created by the binance websocket.

( Line 22 )  in my code  => #2
It doesn't work when i try to emit from the callback.

( Line 16 )  in my code  => #3
But when i emit from the main thread

[2018-01-16 17:16] miguelgrinberg commented on #160
You realize that Flask-SocketIO installs its own websocket server? What's the purpose of using a second websocket server?

My guess is that the problem is related to an incompatibility between eventlet and your websocket server, I would just remove it and start a regular background thread as I show in the example application in this repository.

[2018-01-16 17:17] miguelgrinberg commented on #143
@larry-dev can I ask you to test the master branch of this package and let me know if your problems with reconnecting to redis are addressed?

[2018-01-16 17:34] adrian410 commented on #160
I have to use the second websocket to get essential informations, like the klines ( candles of a chart in real time ) [Link to doc of the binance function](https://python-binance.readthedocs.io/en/latest/binance.html#binance.websockets.BinanceSocketManager.start_kline_socket)

This is what i want to do in my server :

1- Fetch stock data with Binance API in real time
2- Send the fetched data to my

[2018-01-16 17:50] miguelgrinberg commented on #160
Does everything work if you uninstall eventlet? That would prove my theory.

[2018-01-18 11:45] adrian410 commented on #160
I uninstalled the eventlet and used your first exemple with aiohttp.

But i get also an error on the callback :
[code]

The error occur when the BinanceAPI try to fire the callback at this line :
https://github.com/sammchardy/python-binance/blob/3c1e986845ac6488b81ec74733881ae125e363ed/binance/websockets.py#L30

As you can see the BinanceAPI is using the crossbar autobahn websocket library that is

[2018-01-18 14:10] marcus-oscarsson opened #161 "Segmented callback data gives "Unterminated string at: line 1 column 10 (char 9)""
Hi

I have an application where I'm asking the client to give me some data via emit and providing a callback.
The data is returned by the client as the callback argument,

    ``` cb(getData()) ```

This all works fine using the flask development server, however using this with uwsgi fails with:
    ```"Unterminated string at: line 1 column 10 (char 9)"```

It seems like _handle_eio_message of ser

[2018-01-18 17:11] miguelgrinberg commented on #161
Do you know approximately how much data you are sending on this callback?

[2018-01-18 17:15] miguelgrinberg commented on #160
Sorry, but you are complicating things by introducing asyncio in the mix.

Does your binance websocket server use asyncio or not? I assume it does not, so then using asyncio for the SocketIO side is going to break your binance side.

What I asked you to do was simpler. Just run the application without any async framework. Uninstall eventlet, gevent, etc. and re-run your application to see if that

[2018-01-18 17:28] marcus-oscarsson commented on #161
I'm using canvas.todataurl to get a base64 encoded jpeg of the HTML5 canvas (its for a screen shot feature) so it can get quite large like 1-3 Mb

[2018-01-18 17:40] miguelgrinberg commented on #161
Oh, I see. You are probably hitting the maximum size in uwsgi. See http://uwsgi-docs.readthedocs.io/en/latest/Options.html#websocket-max-size, maybe all you need to do is set a larger value.

[2018-01-18 17:52] adrian410 commented on #160
I misunderstood your first answer. What exemple with a background thread were you talking about ?

Are you asking me to remove also the socketIO for testing  with only "regular threads"  ?
Or use socketIo with "regular threads" ? Because i can't find an exemple with socketIO and regular threads.

Sorry, i'm a little bit lost.

[2018-01-18 18:02] miguelgrinberg commented on #160
All I asked you to do is to uninstall eventlet and re-run your application. No need to change anything in the code.

Flask-SocketIO looks at the packages that you have installed and finds the best way to configure itself based on that. Because you had eventlet installed, it went with eventlet. If you remove it, it will pick something else. If it does not find any asynchronous framework installed,

[2018-01-18 18:15] adrian410 commented on #160
Got it.

I removed the following packages :
[code]

And kept only the following ones for socketio:
[code]

In my first exemple i start the socket server with eventlet at the last line :
[code]

How can i start the server without eventlet or aiohttp ?
Can't find an exemple without one of these.

[2018-01-18 18:23] miguelgrinberg commented on #160
Since you are using Flask, you can run the Flask web server:

[code]

Note that the `threaded=True` option is required when using SocketIO.
If you want to keep using the lower level python-socketio package, then you can use

[2018-01-18 19:01] adrian410 commented on #160
I changed the last line like you said with :

[code]
But i got this error :
[code]

Did i missed something ?

Here is my full code :

[code]

[2018-01-18 19:04] adrian410 commented on #160
Ignore the previous post please.

I removed the last line -1 (middleware ) and i don't get the error.

I make some tests and will give you an answer after.

[2018-01-18 19:04] miguelgrinberg commented on #160
Do it like this:

[code]

[2018-01-18 19:05] adrian410 commented on #160
Thanks !

[2018-01-18 19:05] miguelgrinberg commented on #160
The middleware is required, that is what hooks up SocketIO to your application.

[2018-01-18 19:45] adrian410 commented on #160
I tried to do the same as in this exemple.
[EXEMPLE](https://github.com/miguelgrinberg/python-socketio/blob/b62e5e2a7a9577f07f2b634b44aab6348ae62849/examples/wsgi/latency.py)

The server run correctly on threading mode ( see screen below ) without errors :

[code]
But my client doesn't seem to receive anything now, or connect to the server.

Screenshots :
![capture du 2018-01-18 20-20-07](https://

[2018-01-18 19:52] miguelgrinberg commented on #160
Try removing the `host` argument in your `app.run()` call.

[2018-01-18 20:04] adrian410 commented on #160
I put manually the localhost after it didn't work without.

I tried again without, same result.

The only difference i get is the second console line (127.0.0.1 instead of localhost ) :
[code]

I change also to the default port 5000 with only :
[code]
[code]

And on client side i change the address to this :
[code]

And i get the same error on the chrome console.

[2018-01-18 20:06] miguelgrinberg commented on #160
Does the example you based this one work well?

[2018-01-18 20:26] adrian410 commented on #160
I run on docker and tried without it.

Your exemple worked.

Tried my exemple and it worked.

Weird that docker doesn't send data through the port this time with threading, altough I expose the ports.

The final working code is this one :

[code]

Thank you very much Miguel for your patience and your implication to my problem with very fast answers.

You saved me a lot of time, can't express how m

[2018-01-19 08:39] marcus-oscarsson commented on #161
Aha, I tried to increase the websockets-max-size parameter to 10MB i also increased the chuncked-input-limit to 10MB, it did not have any effect.

I looked a bit more exactly on the sizes I'm sending and receiving, the string I'm sending is 425705 characters long with some variation, however I'm only receiving between 60000 and 110000 characters. Actually the most I received was 101028, changing t

[2018-01-19 17:18] miguelgrinberg commented on #161
You can look in the Chrome debugger's network tab. The websocket request there will show you the inbound and outbound packets and their lengths.

[2018-01-22 07:02] marcus-oscarsson commented on #161
Hm, yes already did that, that's how I know the actual size of what I'm sending. So I'm positive that what I'm sending is not received correctly :)

It works running the flask development server, the packages received in _handle_eio_message are complete and everything work's as expected, but fails for some reason with uwsgi. It seems to me like the issue is either in uwsgi or between uwsgi and soc

[2018-01-22 07:04] miguelgrinberg commented on #161
The flask development web server does not support websocket, so there you have one big difference. Have you tested eventlet or gevent instead of uwsgi?

The packets are all variable size, the Socket.IO protocol adds a thin wrapper around the stuff that you send, but other than that the data that flows through the connection is what you emit.

[2018-01-22 07:28] marcus-oscarsson commented on #161
Actually I'm running flask-socketio with gevent (gevent-websocket) for the development and uwsgi with gevent for production.

[2018-01-22 07:30] miguelgrinberg commented on #161
Okay, then you are not using the Flask dev server. When you use gevent w/o uwsgi the websocket implementation comes from gevent-websocket. With using uwsgi, websocket support comes from uwsgi itself. So it all points to a bug in uwsgi.

[2018-01-22 07:41] marcus-oscarsson commented on #161
Allright, thanks for the help, really great !. Ill take a closer look at uwsgi,

Thanks,
Marcus

[2018-01-22 07:41] #161 closed

[2018-01-22 07:42] miguelgrinberg commented on #161
If I can make a suggestion, find an example websocket app for uwsgi and modify it to send big packets. If that blows up in the same way as this application, then I think it is safe to assume it is their bug.

[2018-01-22 07:46] marcus-oscarsson commented on #161
Good idea, ill take a closer look and I might end up doing that if I finally don't find any other solution.

Thanks again !

[2018-01-23 08:34] cemsbr opened #162 "transport error after background task emit"
*Edit*: I'm using Python 3.5.4 and the latest PyPI packages.

First, it happened with flask-socketio, but then I used only python-socketio and got the same error. The scenario is the following:

* A docker container with Flask + flask-/python-socketio that only emits (no listening);
* Flask also send tasks to celery;
* A second docker container has a redis/rabbitmq (tried both) server used by both

[2018-01-23 20:20] miguelgrinberg commented on #162
Did you add logging for SocketIO to see what those errors are about?

[2018-01-24 03:41] cemsbr commented on #162
Yes, but I couldn't find anything useful. I noticed the sid changed, but this could be the expected behavior, I'm not sure how it works. Below is the output with `logger=True, engineio_logger=True` and also Flask debugging, using flask-socketio. The web client disconnected and lost only the *finished Task 1* that can be seen below. By watching the outputs, it seems that the client disconnects as s

[2018-01-24 05:56] miguelgrinberg commented on #162
The client reconnected and that is why the `sid` changed, but the problem does not appear to be from the server, in fact, based on these logs the server still thinks the first client connection is still active, and I'm guessing it'll drop it after a minute passes without any activity. Anything else from the client side logs?

[2018-01-24 21:31] cemsbr commented on #162
On the client side, I only printed "transport error" listened by `on_error_default`, I'll try to use the `localStorage.debug` and find something useful.

[2018-01-24 22:35] miguelgrinberg commented on #162
You can also look at the network tab to see the requests and responses, and even the websocket exchange.

[2018-01-29 08:58] eirikrye opened #163 "Sanic AsyncHandler frequently generates websocket exceptions"
Hi,

[code]

I am running a websocket service using the Sanic AsyncHandler, however I have noticed in the logs that I am frequently getting the following exception:

[code]

The app keeps running, so it's not a big deal, however it's annoying having these messages filling up the error log.

[2018-01-29 18:06] miguelgrinberg commented on #163
Based on the stack trace, it appears that your client is connecting over WebScoket and then immediately disconnecting, without following through with the initial handshake to establish the connection.

I can make this code more robust to prevent the stack traces to be dumped, but this seems to indicate you have clients that for some reason are deciding to go away in the middle of an exchange with

[2018-01-29 18:18] eirikrye commented on #163
For what it's worth, the clients are regular web-based socket.io connections. I guess it may just be users immediately closing the browser tab or something. With dozens of simultaneous connections, I only see this stack trace emitted a couple times per hour, so it's barely a minor nuisance.

Thanks for the response!

[2018-01-29 18:24] miguelgrinberg commented on #163
I thought I'd mention it, because this isn't an established connection that is closed, those errors are being handled and suppressed from the log. This is during the initial handshake, so you have a client that connected over HTTP, and while it started to go through the handshake to upgrade the connection to WebSocket it went away. I'm actually going to have to get creative to reproduce this, sinc

[2018-01-29 18:32] eirikrye commented on #163
Just by spamming the refresh button on my website, I am able to quite consistently reproduce a stack trace, albeit not the exact same one as above (code `1001 (going away)` instead of code `1005`):

[code]

[2018-01-29 18:33] miguelgrinberg commented on #163
Okay, maybe that's all this is, just someone getting refresh-happy. Thanks, I'll see that these messages are suppressed.

[2018-01-31 18:41] Genora51 opened #165 "`await sio.emit(...)` continues program."
My code uses an iterator:
[code]
But the subprocess.call (which lasts 3 seconds) is run fully before my chrome client receives the emitted message. Any idea why this is?

[2018-01-31 21:38] miguelgrinberg commented on #165
You can't use subprocess in a asyncio application, as it blocks the loop. Use a process executor instead.

[2018-02-01 01:28] kylegoetz commented on #109
For what it's worth, there's a second breaking change not mentioned in this issue's discussion so far: https://github.com/socketio/socket.io/releases has a list and the second issue is at https://github.com/socketio/socket.io-client/pull/1058

[2018-02-01 01:47] miguelgrinberg commented on #109
That is not a protocol change, but something specific to the Javascript implementation. It has no bearing on this server.

[2018-02-01 01:50] kylegoetz commented on #109
Is it? I just changed the server from using a custom namespace that extends BaseNamespace back to just using the default namespace and it went from JavaScript client not receiving messages to receiving messages. I didn't change the JS client at all.

[2018-02-01 01:51] kylegoetz commented on #109
OK thank you. I just changed the Python server's namespace from my custom one to the default namespace and the JS client actually receives the messages. Thanks for letting me know.

[2018-02-01 12:52] omar-othmann opened #166 "Python-socket.IO: how can i block ip address to connect"
how i can block IP address to connect Python-Socket.IO server?

[2018-02-01 15:30] miguelgrinberg commented on #166
what do you mean by "block" in this context? What are you trying to do?

[2018-02-01 17:31] omar-othmann commented on #166
I want to disconnect a client or kick client out of the connection
i have use:

`server.manager.disconnect(sid, namespace)`

The client is disconnected, But can emit a object again without connection again.

[2018-02-01 18:12] miguelgrinberg commented on #166
Do you have an example application that shows the problem?

Also, if you are doing this in the connect event handler, you can just return `False` if you want to kick the client out, no need to call disconnect.

[2018-02-02 15:25] omar-othmann commented on #166
![default](https://user-images.githubusercontent.com/34454535/35740592-89a3cc34-0835-11e8-9b54-879392d36a4a.PNG)

Thank you. Did you mean that?

[2018-02-02 17:01] miguelgrinberg commented on #166
Well, yes, but you need to return `False` to kick the client out.

[2018-02-02 18:30] omar-othmann commented on #166
Ok thank you

[2018-02-05 07:34] 3mp3ri0r commented on #80
How to call `sio.app` when I use class-based namespace?

[2018-02-16 01:09] JoseRaffucci opened #168 "Does leave_room get called on multiple instances using AsyncRedisManager/AsyncServer?"
We have been experiencing a problem with leave_room.  When we run a leave_room event from an emitted client side event, the leave_room method does not seem to run on all the other instances.  This causes emitted events issued to the room to still be received by the client that was to leave the room.  When we run this in a single instance everything continues to run correctly.  Is this the expected

[2018-02-16 18:44] miguelgrinberg commented on #168
No, the enter and leave room calls are assumed to be made in response to an event from the affected client. Are you trying to make client X leave a room when you respond to an event from client Y?

Maybe these events should be sent to all instances just in case, I didn't consider that to be necessary.

[2018-02-16 19:08] JoseRaffucci commented on #168
@miguelgrinberg Yes that is exactly the use case, one client calls a kick event and the server tries to remove him from the room.  Right now the work around is to issue an event that the leaving member will respond to and will call another event to leave the room.  This works but as you can see not as clean as the single instance of just doing leave_room.

I'd be open to help adding this feature i

[2018-02-16 19:10] miguelgrinberg commented on #168
If you want to attempt this, look at how the `close_room()` function is implemented, which does go across instances: https://github.com/miguelgrinberg/python-socketio/blob/master/socketio/pubsub_manager.py#L69-L71.

[2018-02-16 19:17] JoseRaffucci commented on #168
Sounds good, will do.

[2018-02-22 10:39] sphh opened #169 "Running server and client in one application"
Hi Miguel,

Thanks for the fantastic library! I got it running very quickly.

But now I run into a problem with the idea I had: I am writing a sort of broker between socketio clients and server. It should accept connections from the clients and pass their requests on to the server. It should also pass on data coming from the server to the clients. Whereas this does not make sense per se (the clien

[2018-02-27 04:03] liaodalin19903 opened #170 "How to get the use's status?"
When I list the chat users, how can I know the user's status whether is on-line or off-line?

[2018-02-27 07:29] miguelgrinberg commented on #170
You can update the status of your users in the `connect` and `disconnect` handlers.

[2018-02-27 11:24] liaodalin19903 commented on #170
Does it should save the status to the database?

[2018-02-27 16:48] miguelgrinberg commented on #170
Sure, you can keep it in your database if you have one.

[2018-03-01 00:48] dayattack opened #171 "socket.io uses polling instead websocket with SSL"
Without SSL, my server always use 'websocket' as a transport layer and works fine. But with SSL, it always fall back to 'polling' instead 'websocket'.

Nginx has been set up as a reverse proxy and server runs with aiohttp. Have anyone seen the same issue? Any help will be appreciated.

nginx configuration
`
http {
  access_log /dev/stdout;
  error_log /dev/stdout debug;

  server {
    listen 5000

[2018-03-01 02:54] miguelgrinberg commented on #171
Look in the browser's console and network tabs for errors.

[2018-03-01 08:41] larry-dev opened #172 "The "send_str" method in "aiohttp 3.x" is asynchronously causing "websocket" to be unable to use"
Hi @miguelgrinberg .
[code]
The code section above in the "aiohttp 3.0.5" rasie
[code]
Causes the websocket protocol to be unusable.

[2018-03-01 08:43] #172 closed

[2018-03-04 21:17] sphh commented on #65
Is this problem resolved yet? I have the same problem. Like @catmeme I use the Flask socket.io example. The server output is as follows:
[code]
The client does not see the "connect" message and cannot act accordingly. If I disconnect the client, it sees the "disconnect" message (so I assume the connection between the server and client works).

My environment:
Python 3.4
python-socketio installed v

[2018-03-04 21:33] adiun commented on #65
@sphh - I interpreted that first step from @bundabrg 's comment like this, by monkey-patching `engineio.asyncio_socket.AsyncSocket.poll` by adding another branch to the block that starts with "Wait for packets to send to the client"

`
        # NOTE: (Patch) return the first packet if it's OPEN. Then return the others
        elif packets[0].packet_type == 0:
            return [packets[0]]`

I a

[2018-03-04 21:46] sphh commented on #65
Thank you @adiun for your help! That works. I applied these changes in `engineio.socket.Socket.poll` and `engineio.socket.Socket._websocket_handler` and it seems to work.

Maybe @miguelgrinberg can add these changes to the next release (if there a no negative side effects)?

[2018-03-05 15:20] Kruptein commented on #172
Hi, I also have this behaviour on aiohttp 3.0.1

[code]

What was your solution to close this issue ?

[2018-03-17 17:37] tonk777 commented on #35
I have pyinstaller working with flask-socketio and eventlet. There are **two** hidden imports that you need to reference:

engineio.async_eventlet
eventlet.support.dns

I did a temp patch of engineio/server.py (code except below - comment out try/except ImportError:) to progressively catch these hidden imports

[code]

[2018-03-17 21:27] MyrionPhoenixmoon opened #173 "/socket.io/?EIO requests fail with 404 error"
The javascript Socket.IO-client seems to send some sort of keepalive message or something, automatically.
The URL used is `<server:port>/socket.io/` with `EIO`, `transport`, `t` and `sid` as parameters. Unfortunately, I haven't found any documentation about what this actually is.
When used with the node-based server, this works, but with the Python server it returns 404s.

I'm using eventlet and F

[2018-03-17 21:57] MyrionPhoenixmoon commented on #173
Apparently, the problem was with my nginx config. Here's the working conf, for anyone who runs into a similar issue:
[code]

sync-server is used for io.connect, but socket.io is used in the path option, because otherwise it didn't work, for some reason.

[2018-03-17 21:57] #173 closed

[2018-03-17 22:03] miguelgrinberg commented on #173
FYI the documentation includes a recommended nginx configuration which is close but not quite like yours.

[2018-03-17 23:31] tonk777 commented on #35
I've looked into why **pyinstaller** doesn't work with **eventlet** under **flask-socketio**. First off there are **two** hidden imports required (first is part of flask-socketio; the second is from within eventlet):

engineio.async_eventlet
eventlet.support.dns

Unfortunately ```eventlet\support\greendns.py``` loads ```eventlet.support.dns``` by adding eventlet\support to sys.path (see code below

[2018-03-19 04:27] chenray844 opened #174 "error happens when using socketio with aiohttp3.0.9"
@miguelgrinberg
run `python3 examples/aiohttp/app.py`

[code]

## versions
[code]

[2018-03-19 05:17] chenray844 commented on #174
sorry, there is already an issue https://github.com/miguelgrinberg/python-engineio/issues/66

[2018-03-19 06:28] miguelgrinberg commented on #174
I don't see any errors here when I use the versions you indicate above. How do you get this error to appear?

[2018-03-19 06:52] chenray844 commented on #174
sorry.
the example is below.
[code]

my code
[code]
I lost the `/` in `namespace` in client code.

and the server raise error as below
[code]

It's my mistake, sorry.

[2018-03-22 06:35] #174 closed

[2018-03-27 18:14] nuevoleonkx opened #175 "Is there any way to get access to session object in request?"
I'm using pyramid and python socket.io as Middleware, and class based namespaces in order to respond on every particular section of my project. I want to check whether a session object in my request is present.

any way I can deal with?

[2018-03-27 20:57] miguelgrinberg commented on #175
This really depends on the framework, and unfortunately I don't know much about Pyramid sessions. You can obtain the WSGI environment dictionary with `sio.environ[sid]`, where `sio` is a `Server` instance, and `sid` is the SocketIO session id assigned to the client in question.

The rest really depends on how easy or hard Pyramid makes it to replicate the HTTP environment from the WSGI environment

[2018-03-27 21:48] nuevoleonkx commented on #175
I'm migrating from gevent-socketio to python-socketio, and many thing are different.
With `sio.environ[sid]`  I get sessionid from request, but now how can I share this with my class based namespaces? Or can I get it from class based itself?

Thanks!

[2018-03-27 22:09] miguelgrinberg commented on #175
I don't understand what you are asking. First of all, gevent-socketio and python-socketio are not related in any way. If you want to know the `sid` assigned to a client, you get that as an argument in every callback, both function or class based. Is that what you need?

[2018-04-04 07:59] akdasa opened #176 "Is it possible to subscribe to ANY event?"
Hello!
Is it possible to subscribe to ANY event?

[code]

Thanks a lot.

[2018-04-04 08:10] akdasa commented on #176
Looks like https://github.com/miguelgrinberg/python-socketio/pull/41 is solution for me.

https://github.com/miguelgrinberg/python-socketio/pull/41#issuecomment-299665733

I'll try to solve the issue this way. I apologize for the disturbance :)

[2018-04-04 08:53] akdasa commented on #176
Here is solution for me:

[code]

[code]

[2018-04-04 08:54] akdasa commented on #176
Looks like issue can be closed (if there is no other comments). Thanks :)

[2018-04-04 17:24] #176 closed

[2018-04-11 13:11] nat-goodspeed commented on #35
@tonk777, I see that you quoted and commented the relevant passages from [`greendns.py`](https://github.com/eventlet/eventlet/blob/master/eventlet/support/greendns.py#L48), indicating what does not work.

Do you know what *would* work? How should `greendns.py` be modified?

[2018-04-11 15:06] nuevoleonkx commented on #175
thanks for reply. I was confused between request from WSGI and socketio environment when connection is established, they not related in any way. You're right, my framework (pyramid) is responsible to replicate the request.

Let me show you my code and i'll try to explain

[code]

As you can see Alerts, Devices, etc inherits from CollectionSocketNamespace

I have a MasterNamespace with trigger_even

[2018-04-11 16:15] tonk777 commented on #35
I did not investigate this particular issue any further because I switched to using an alternate library supported by  flask-socketio which worked for me with pyinstaller. However I can point you to a solution

The key for pyinstaller support is to avoid this -> os.path.dirname(__file__)  as __file__ is not defined in the expected way in a "bundled" environment. The relevant info that should allow

[2018-04-11 16:27] nuevoleonkx commented on #142
I need assistance to pass ```request``` to my namespaces. I'm using pyramid, gevent and python-socketio with class based namespaces this way, that is working fine.

[code]

In pyramid the request is available in every view defined with @view_config is in it? I'm right or i'm totally wrong? How can I pass the request and make available inside my namespace?

Thanks

[2018-04-11 16:53] vlcinsky commented on #142
@nuevoleonkx
Consider lifecycles:
- app: one instance from app start till the end
- sio: almost as long as the application (it gets attached to the application somehow)
- request: often created and then destroyed, with 10 requests per second there are 10 requests per second created.

For this reason (request has very short lifecycle), I guess, passing request to sio is the wrong direction. I would

[2018-04-11 16:59] miguelgrinberg commented on #142
Pyramid is not part of the Socket.IO interaction, so there is no request object you can access. If Pyramid allows you to generate a request object from an `environ` dictionary, then you can use `sio.environ[sid]` and make a request object any time you need one.

[2018-04-11 17:07] miguelgrinberg commented on #175
Not sure I understand what is this request object and where it comes from. If this is a Pyramid request, then that does not exist when a Socket.IO route is invoked, as that does not pass through Pyramid. So how do you obtain a request object during a Socket.IO communication?

[2018-04-11 18:12] nuevoleonkx commented on #175
In pyramid, a request arrives and is available in every view defined with ```@view_config```. I need to get access to session (request.session), I tried to pass this request object to my namespaces inside some view with no success(I already add a property), i'm not sure why this value never saved. I see other comments where request is passed ```on_connect``` this way
[code]
but I need to check if

[2018-04-18 10:03] hatembeddaira commented on #47
Dear amckinley,
Please can you put a simple python code to connect to Node.js Socket.IO Server (works) wich you have put it.

[2018-04-20 06:45] anshumanvenkatesh opened #178 "ValueError: Invalid async_mode specified"
This issue is similar to #35, but the instantiation is different. I tried adding 'engineio.async_gevent' to hiddenimports in spec file.

My usage is as follows:

`from flask import Flask
from flask_cors import CORS
from flask_socketio import SocketIO
app = Flask(__name__)
CORS(app)
app.config['SECRET_KEY'] = 'some_secret_string'
socketio = SocketIO(app)
`

Getting the following error trace:
`Trace

[2018-04-22 08:07] xvzf opened #179 "pip installation fails with Python 3.6.5 and a clean virtual environment"
The pip package seems to be broken for the Python 3.6.5 inside a virtual environment. Manually upgrading `setuptools` and `pkgtools` I can install the library from source but whenever I try to install it breaks some dependecies and downgrades pkgtools.

I haven't yet manage to figure out why that is but If I find the time to have a look I'll do a PR.

Steps to reproduce:
[code]

[2018-04-22 17:01] miguelgrinberg commented on #179
Just to make sure others understand what happens, this package is called `python-socketio`, not `socketio`.

[2018-04-25 16:07] nuevoleonkx commented on #175
After several days trying to find a solution, I check your flask-sockio and do the following.

My pyramid application uses ```gevent``` and ```socketio``` as a Middleware, this way a request and a socketio connection occurs at different time, so I need to pass application inside middleware.

[code]
Now inside socket,  access to my app and get the request from environ this way...
[code]
After this,

[2018-04-25 16:07] #175 closed

[2018-05-02 16:32] nat-goodspeed commented on #35
fwiw - for closure - https://github.com/eventlet/eventlet/pull/486 seems to permit PyInstaller to pack a script that uses eventlet, given this `hook-eventlet.support.greendns.py` file in a PyInstaller `--additional-hooks-dir` directory:

    # PyInstaller hook for dynamic import of dnspython

    from PyInstaller.utils.hooks import collect_submodules
    hiddenimports = collect_submodules('dns')

[2018-05-10 11:04] feikiss opened #182 "How can I emit message to an individual client"
In the doc of emit() it said :
param room: The recipient of the message. This can be set to the
                     session ID of a client to address that client's room, or
                     to any custom room created by the application, If this
                     argument is omitted the event is broadcasted to all
                     connected clients.
Seems it can only send to room or bro

[2018-05-10 11:27] JoseRaffucci commented on #182
Every event passes a SID, which is the id of the client making that event call.  If you want to track a client's ID you can do so by recording it yourself in the connect event, the sid is also a room.  From the documentation:
[Rooms](http://python-socketio.readthedocs.io/en/latest/#rooms)

You can see an example where it prints the SID here:  [Getting Started](http://python-socketio.readthedocs.io

[2018-05-10 15:16] feikiss commented on #182
@JoseRaffucci  Thanks so much! you saved me much time!!

[2018-05-10 15:16] #182 closed

[2018-05-10 15:29] feikiss commented on #166
@miguelgrinberg  In the current release, how can I block the connect ? I tried the way mentioned above

[code]

but failed as the on() method is not callable for Server class.
It throws `'TypeError: unbound method on() must be called with Server instance as first argument (got str instance instead)'`

[2018-05-10 17:15] miguelgrinberg commented on #166
You need to create an instance of class `Server` and use `on()` on the instance.

[2018-05-16 04:56] #72 closed

[2018-05-17 09:14] 3mp3ri0r opened #183 "Error while emitting dictionary that contain datetime"
Gi there. I don't know is it bug or misused. How to emit dictionary data that contain datetime format? I'm able to dumps it first with custom class, but the data that has been emmited become string. Thanks.

[2018-05-17 23:16] miguelgrinberg commented on #183
You can only emit JSON data, the SocketIO protocol does not support arbitrary objects.

[2018-05-19 04:00] 3mp3ri0r commented on #183
Hi @miguelgrinberg. I know that socketio use built in json to encode and decode. My question is how to make json in socketio support encode and decode datetime without change its core? I think sharing datetime between client and server is common, so it should support encoding and decoding datetime.

[2018-05-19 05:13] miguelgrinberg commented on #183
@3mp3ri0r I'm confused by your comment. You understand that Socket.IO uses JSON as a transport format, and you probably also know that JSON does not support datetime objects, so if you are looking for an end-to-end solution that allows you to work with datetime objects in Python and in JavaScript with JSON in the middle, then you are out of luck.

You can build a custom JSON encoder for Python tha

[2018-05-20 04:30] 3mp3ri0r commented on #183
Sorry for the confusion, @miguelgrinberg. Yesterday I confused how to modify json ecoder and decoder globally (not only when dumps and loads), that's why I ask you with the last question. Now I know that I can set encoder and decoder to json globally by using `json.JSONEncoder.default = lambda self, obj: (obj.timestamp() if isinstance(obj, datetime) else None)` and I can implement it to asyncserve

[2018-05-20 05:38] miguelgrinberg commented on #183
You are monkey patching the JSON encoder, that's not a practice that I would recommend. The official documentation shows how to create custom encoders and decoders, you may want to check that for a more robust solution.

[2018-05-20 07:43] 3mp3ri0r commented on #183
A lot of suggestion out there shoel change default or cls parameter in dumps or loads method like this: `json.dumps(anObject, default=json_util.default)`. How to implement this in socketio?

[2018-05-20 16:26] miguelgrinberg commented on #183
Create a module called, for example, `custom_json.py` and define your own version of `dumps()` and `loads()` in it. Then when you create your `AsyncServer` object add `json=custom_json` as an argument:

[code]

[2018-06-06 15:12] ecamaj opened #186 "engineio bug when sending base64 image as data in message?"
[code]
Any help appreciated.
Thanks!

[2018-06-06 15:46] miguelgrinberg commented on #186
How can I reproduce this error? Do you have the client code that sends this event?

[2018-06-06 17:57] ecamaj commented on #186
Thanks for the feedback. I will try to isolate it, if possible. Will let you know. Also, I have question for you, for private message. Have an email? Or contact me on linkedIn or somewhere. Thanks

[2018-06-06 18:03] miguelgrinberg commented on #186
@ecamaj my email is first dot last at gmail.

[2018-06-07 07:40] ecamaj commented on #186
Tell me if this helps, without writing client code (which might be complex, react app, ...)...

- JSON content in event is ~160k.
- log starts with:
`2018-06-07 07:32:22,511 - AUTO - INFO - de7ede54a1bf45adb776bbafafb40d19: Received packet MESSAGE data 2/socket,[...JSON DATA...`
**This JSON data is not completed till the end!!!**
- Error is logged:
[code]
- **new log that CONTINUES the rest of the

[2018-06-08 13:00] ecamaj commented on #186
@miguelgrinberg Is this helping?

[2018-06-08 14:39] miguelgrinberg commented on #186
Not really. It's clear that something is off, but without having your code I'm not sure I'll be able to figure it out. Can you just make a simple JS example that sends an image exactly like you do in your real app?

[2018-06-08 16:04] ecamaj commented on #186
Ok, I’ll try to isolate it. Thanks

[2018-06-12 14:45] kunalg commented on #155
@peterchen16 just do:

[code]

before initializing your socketio server.
Please check:
http://eventlet.net/doc/patching.html#monkey-patch

[2018-06-26 03:00] AinuX opened #189 "Can't use websocket transport to communicate with socketio server when using sanic"
Server code:
[code]

Client code:
[code]

Package version:
[code]
Error log when with "websocket":
[code]

If changed transport to use "xhr-polling" to connect,  sucess
[code]

And, when I run socketio server with aiohttp, the client can connect with websocket,

aiohttp server code:
[code]

aiohttp server log,
[code]
not sure is it a bug or additional configuration needed for sanic? thanks!

[2018-07-15 18:31] TensorTom opened #190 "Error installing for Python 3.7.0"
Had to switch to Python 3.6 in order to get working. Here's what happened with 3.7:
[code]

[2018-07-15 19:43] miguelgrinberg commented on #190
The package is called `python-socketio`, you are installing a different package.

[2018-07-15 19:43] #190 closed

[2018-07-15 20:08] TensorTom opened #191 "'socketio' has no attribute 'AsyncServer'"
I'm trying to run the example script:

[code]

Which gives me the error:

[code]

[2018-07-15 20:09] TensorTom commented on #191
Oops. Just saw the reply here: https://github.com/miguelgrinberg/python-socketio/issues/190#issuecomment-405113349

[2018-07-15 20:17] #191 closed

[2018-07-15 20:33] TensorTom opened #192 "Invalid HTTP method"
I got the aio example running but it did throw some errors. I was still able to connect via browser and test everything out. Still, here's what I got when I started up https://github.com/miguelgrinberg/python-socketio/blob/master/examples/aiohttp/app.py

[code]

[2018-07-22 06:30] Rybak5611 opened #193 "Bad documentation for sanic"
![image](https://user-images.githubusercontent.com/29390075/43042975-a74959e8-8d78-11e8-8013-ebacc19faf22.png)

[2018-07-22 19:33] videda opened #194 "emit always JSON-dumps data"
Hi. The documentation of `Server.emit` says:

    data – [...]. If a list or dict, the data will be serialized as JSON.

but it seems that `data` is processed with `json.dumps` in any case.

I intended to emit a string which is already a JSON-dump. Unfortunately it gets
JSON-dumped again (e.g. all quotes get escaped). The consequence is that in the
front-end the data is not automatically made in t

[2018-07-23 07:07] miguelgrinberg commented on #194
I don't understand why this is wrong. You passed a string, so the client gets a string. If you want the client to get an object, then pass a dict or a list. Are you saying that the client gets a different string than the string that you passed from the server due to escaping?

[2018-07-23 09:52] videda commented on #194
I completely agree that this is right. I thought the documentation should say that also strings get serialized as JSON. But now I'm not sure anymore.

So it remains the question: wouldn't it be interesting to be able to configure
emit not to process `data`? Or what is the best way to achieve this?

In my case (which is an exercise and not important) I have a lot of data that
is already serialized.

[2018-07-23 15:41] Rybak5611 opened #195 "Default ping_timout is too high for react native"
Related issues:
https://github.com/facebook/react-native/issues/12981
https://github.com/socketio/socket.io/issues/3054

Fix:
[code]

[2018-07-23 16:03] miguelgrinberg commented on #195
Shouldn't this be fixed in react native?

[2018-07-23 16:14] miguelgrinberg commented on #194
The second option is what I would do. You can pass custom json handlers, that is a valid option. Your custom handler could look at the string, and if it starts with `{` or `[` you could just return that as the jsonified payload.

[2018-07-25 14:25] sachinwhiteman opened #196 "issue while sending message to a particular user"
i want my send notification to a particular client , who had sent me message earlier via a socketio connection.
i tried to send it using sid, but if the client gets disconneted.
it gets a new sid when connected again.
how can i identify a particular client? is there any particular attributes to find a client?

websocket.py
------------------------
# Start with a basic flask app webpage.
from flask

[2018-07-25 18:21] miguelgrinberg commented on #196
Your clients need to authenticate so that you the server knows who they are. This is the same as with an HTTP based API. The client can pass token or other auth information through a cookie that was set up in advance, or in the query string of the connection URL.

[2018-07-27 18:07] sjoshi30 opened #198 "AttributeError: 'module' object has no attribute 'Server'"
Hi,
I have the following error

![image](https://user-images.githubusercontent.com/31685452/43338965-98b49b30-919d-11e8-8f6c-49076780dc20.png)

I have installed socketio using pip install and it using python version 2.7.12

I have checked the Server.py is also present in socketio module.

I have looked through previous issues which are similar but none have helped.

Please help!

[2018-07-28 15:15] miguelgrinberg commented on #198
What module did you install? This package is under `python-socketio` in the package repository.

[2018-07-29 18:09] sjoshi30 commented on #198
Okay, so if anybody is facing the same issue, this is how I solved it-
I had installed socketio and python-socketio both. So it was not able to identify the module. I uninstalled socketio and it worked. Thank you for your reply miguelgrinberg.

[2018-07-31 10:41] nvs-abhilash commented on #77
So, to be clear there is no possible way of using `socketio` to stream video content from client to server and from server to client in a real time scenario?

[2018-07-31 11:30] miguelgrinberg commented on #77
Yes, there is, but you have to code it yourself. Socket.IO is a general purpose communication framework, it does not have any specific support for video, but nothing prevents you from sending video frames as binary packets.

[2018-08-05 09:27] maitrungduc1410 commented on #198
For anyone else after did like @sjoshi30 but cannot what you want - you should try using ‘virtualenv’, I try many way and finally this works for me

[2018-08-06 01:27] ahmed-alhaj1 commented on #16
* Restarting with stat
 * Debugger is active!
 * Debugger PIN: 304-783-885
(14228) wsgi starting up on http://127.0.0.1:5000
(14228) accepted ('127.0.0.1', 51258)
127.0.0.1 - - [05/Aug/2018 21:25:46] "GET /socket.io/?EIO=3&transport=polling&t=1533518746862-143 HTTP/1.1" 200 381 0.000530
message handler error
Traceback (most recent call last):
  File "/home/alhaj1/fenv/local/lib/python2.7/site-pack

[2018-08-06 01:27] ahmed-alhaj1 commented on #16
* Restarting with stat
 * Debugger is active!
 * Debugger PIN: 304-783-885
(14228) wsgi starting up on http://127.0.0.1:5000
(14228) accepted ('127.0.0.1', 51258)
127.0.0.1 - - [05/Aug/2018 21:25:46] "GET /socket.io/?EIO=3&transport=polling&t=1533518746862-143 HTTP/1.1" 200 381 0.000530
message handler error
Traceback (most recent call last):
  File "/home/alhaj1/fenv/local/lib/python2.7/site-pack

[2018-08-06 01:29] ahmed-alhaj1 commented on #16
server side

from __future__ import print_function
import os
from flask import Flask, render_template, request, send_from_directory
from flask_socketio import SocketIO
import json as js

app = Flask(__name__)
#json_str = json_str.encode('latin-1').decode('utf-8')
socketio = SocketIO(app, async_mode='eventlet')
basedir = os.path.abspath(os.path.dirname(__file__))

app.config['SECURITY_KEY'] = 'secr

[2018-08-06 01:29] gordol commented on #16
that log is useless without context or code

[2018-08-06 01:34] gordol commented on #16
why are you emitting from a connect callback in the frontend?

what does this have to do with the discussion? you are using eventlet, not background threads.

also your code is wrong, you need to read the docs. you shouldn't be handing json that way. it's already decoded via request context.

this has nothing to do with the thread you posted in.

[2018-08-06 09:40] mvelebit commented on #16
@gordol I believe that callback emit is present in the official docs of the repo, not that this is any less invalid for this thread 😄

[2018-08-06 09:42] mvelebit commented on #16
@gordol He missed the repo, that callback emit is from the flask-socketio docs..

[2018-08-06 15:21] ahmed-alhaj1 opened #199 "message handler error no json object could be decoded"
* Restarting with stat
 * Debugger is active!
 * Debugger PIN: 304-783-885
(5231) wsgi starting up on http://127.0.0.1:5000
(5231) accepted ('127.0.0.1', 38358)
127.0.0.1 - - [06/Aug/2018 11:16:00] "GET /socket.io/?EIO=3&transport=polling&t=1533568560130-24 HTTP/1.1" 200 381 0.000431
message handler error
Traceback (most recent call last):
  File "/home/alhaj1/fenv/local/lib/python2.7/site-package

[2018-08-06 18:14] miguelgrinberg commented on #199
It's very hard to follow your code when it is all badly formatted. Do you have a complete example I can install and run here?

[2018-08-06 23:58] ahmed-alhaj1 commented on #199
server.py

from flask_socketio import SocketIO, send, emit
import json

app = Flask(__name__)
socketio = SocketIO(app)
basedir = os.path.abspath(os.path.dirname(__file__))

app.config['SECURITY_KEY'] = 'secret'
app.config['DEBUG'] = True
app.config['ALLOWED_EXTENSIONS'] = set(["pdf", "docx", "doc"])

@app.route('/')
def show_file():
        return render_template("display.html")

@socketio.on('cli

[2018-08-07 00:03] ahmed-alhaj1 commented on #199
client.html

`

<!DOCTYPE html>
<html>

<body>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<title> "test socket io "</title>

<script>
    var socket = io.connect('http://' + location.host + ':' + location.port );
    socket.on('connect', func

[2018-08-07 00:11] ahmed-alhaj1 commented on #199
sorry I was able to past html the html code dispeaer
https://shrib.com/#dsiplay.html

[2018-08-07 20:58] miguelgrinberg commented on #199
You are using a very old version of the Socket.IO JS client. Does this problem occur with the latest version?

[2018-08-08 02:08] ahmed-alhaj1 commented on #199
I tried this is still the same error ValueError: No JSON object could be decoded
https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js

[2018-08-08 22:27] miguelgrinberg commented on #199
To connect, use the following:

    var socket = io.connect('http://' + location.host + ':' + location.port );

The way you are doing it makes the port appear twice in the URL.

[2018-08-09 02:41] ahmed-alhaj1 commented on #199
Thank so much it worked

[2018-08-09 06:32] #199 closed

[2018-08-15 17:01] wallyqs commented on #193
What is wrong in the doc from the picture posted?

[2018-08-15 21:17] miguelgrinberg commented on #193
The code example is wrong, I copy/pasted the aiohttp example there.

[2018-08-24 07:05] #194 closed

[2018-09-17 23:28] asensha08 commented on #198
Hi, It is not working for me! I tried this. Can anyone help?

[2018-09-24 14:41] perkasajob opened #201 "How to enable Tornado Websocket CORS ?"
I have test setup with react, that I develop separately, which later will be put inside the template dir, as it upgrade to ws, it gave me 403.
I tried following
class MyHandler(tornado.websocket.WebSocketHandler):
    def check_origin(self, origin):
        return True
and
(r"/socket.io/", MyHandler),
but it doesn't work,

Can you please help, how to do it ? Thank You

[2018-09-24 16:37] miguelgrinberg commented on #201
I don't understand what you are doing. Did you see the Tornado examples in this repository? Start from one of those, which already have CORS enabled.

[2018-09-25 15:07] perkasajob commented on #201
Apparently only long pooling is cors enabled but not websocket, if I build my react.js files and then served by python.socket.io, everything is fine, socket.io connection can upgrade with 101 status to websocket connection, only that, as I develop the react.js project files served with local http server on different port, the connection cannot be upgraded to ws:// , it gave 403 denied,  so my assu

[2018-09-25 18:28] miguelgrinberg commented on #201
Okay, I think I understand now. I'll look into it. Thanks.

[2018-09-25 20:36] mattpepin opened #202 "Allow skip_sid to be a list"
It's currently only possible to skip 1 sid when using emit. It would be easy to change the test condition to skip multiple sid. This is useful in the case of multiple tabs open and the current user has multiple sid.

[2018-09-25 21:32] miguelgrinberg commented on #202
Even in the cases where a user is connected with multiple clients, you would want to only skip one. Consider a chat application. If the user types a message from the first connected client, the message should still be sent to all the other clients this user is using. If you skip those clients, the message from the user will not appear in them.

[2018-09-28 16:11] felocru opened #203 "Is it possible to implement Socket.IO P2P?"
Hi miguel.
I was reading this post (https://socket.io/blog/socket-io-p2p/). And I would like to know if it is possible to implement P2P to this great project.

I am looking forward to your response. Greetings.

[2018-09-28 19:37] miguelgrinberg commented on #203
I'm not sure the p2p extension continues to work with current socketio clients and servers, it hasn't been maintained for a while.

[2018-09-30 04:40] skumarcm opened #204 "Disconnect event is not fired when socket app on android goes background"
I am using socket client on an android app with python-socketio on the server side.
I was expecting a disconnect event on the server side when the android app goes background.

But I never got a disconnect event.
I am using gevent on the server side.

[2018-09-30 07:44] miguelgrinberg commented on #204
Is your android app disconnecting explicitly? Not sure the app going to the background will trigger a disconnect.

[2018-09-30 11:52] skumarcm commented on #204
No. the app is not disconnecting explicitly. I was expecting a disconnect event to be generated on the server side when the PING-PONG message is not received from the client side.
Is that not true?

[2018-09-30 11:56] miguelgrinberg commented on #204
If the client stops sending PING packets, then the server is going to assume that the client went away, and will remove it from the active list. No point in sending a disconnect packet, since obviously the client isn't communicating. This whole process can take about a minute. The disconnect event handler in the server will be called after a client is declared as gone.

[2018-09-30 12:00] skumarcm commented on #204
Sorry. I didn't mean sending a disconnect event back to the client.
How would I detect on the server side that the client has gone away and not communicating?
I was thinking that the disconnect event handler on the server side will be triggered in that case.

[2018-09-30 12:03] miguelgrinberg commented on #204
Yes, as I said above, a minute after the client stops sending pings your disconnect handler should be invoked. This is an area where in the past there were issues, so make sure you are using the latest version of this package and its dependencies.

[2018-09-30 12:29] skumarcm commented on #204
I have been referring the issue in flask-socketio related to the same.
python-engineio 1.5.0 was exepcted to resolve the issue.
Here are the packages that I am currently using:

Django==1.8.6
gevent==1.3.5
gevent-websocket==0.10.1
greenlet==0.4.14
psycogreen==1.0
psycopg2==2.6.1
python-engineio==2.2.0
python-memcached==1.57
python-openid==2.2.5
python-socketio==2.0.0
six==1.10.0

For some reason t

[2018-09-30 14:27] miguelgrinberg commented on #204
As I said, you need to install the latest versions.

[2018-09-30 15:13] skumarcm commented on #204
Hey Thanks!!!
I just upgraded to python-engineio 2.3.1
And it is working!!!!
Thank you very much for the awesome work that you are doing with socketio!!!

[2018-09-30 15:14] #204 closed

[2018-10-03 15:51] felocru commented on #203
It's true, since 2015 it has not been maintained. Although it would be incredible to have this feature. Hopefully this technology will be resumed. Thank you.

[2018-10-03 15:51] #203 closed

[2018-10-04 04:08] gouthamgandhi commented on #198
I have the same problem:
`AttributeError:` module 'socketio' has no attribute 'AsyncServer'`
I have only `python-socketio` installed.

[2018-10-04 15:39] MoritzD commented on #201
I had the same problem:
when starting the server the method `get_tornado_handler(socketio_server)` is called. This calls the same method in the engineio library (usually located in `~/-local/lib/python3.6/site-packages/engineio/async_tornado.py` at least on a linux mashine)
there a Handler class is defined and returned which enharits from the tronado.websocket.WebSocketHandler). In that class the

[2018-10-05 23:01] miguelgrinberg commented on #198
@gouthamgandhi what's the output of `pip freeze`?

[2018-10-06 08:37] perkasajob commented on #201
Thank You @MoritzD , the dirty fix works, so I can start working with it

[2018-10-09 16:03] RuWander opened #205 "How to resolve multiple CORS values in socketio requests, Sanic?"
Hi,
I am having trouble with CORS in python-socketio. I have built a Restful API in Sanic and I am consuming the API with Angular 6. I have added socketio functionality with Python-socketio, however, I am receiving the following error in the browser:
`Failed to load http://192.168.33.11:7770/socket.io/?EIO=3&transport=polling&t=MPP6E-6: The 'Access-Control-Allow-Origin' header contains multiple va

[2018-10-09 16:32] miguelgrinberg commented on #205
I'll have to check this, but it appears that Sanic is reporting the origin sent by the client two times in a row. Not sure if there is some sort of collision with the sanic-cors package or if it is something else, but that seems to be the root cause.

[2018-10-10 13:36] RuWander commented on #205
Hi, thank you for the quick response.
I have found a workaround to this issues if anyone else runs into it, I can use the `@cross_origin(app)` decorator on **each** of the API routes, and it will fix the CORS issues without reporting to the client twice. Meaning the socket routes will work as intended.

It might be obvious in retrospect but the order of placement of the decorator, however, was imp

[2018-10-12 03:49] ifightcode commented on #201
I'm waiting for this to go for the production. My app is completely ready, but cannot release for the XSRF issue on socketio.
Hope developers will find a way to disable that for socketio.

[2018-10-15 15:51] agrawal-ankur commented on #198
server ankuagra$ pip freeze
aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
multidict==4.4.2
netifaces==0.10.6
pygame==1.9.4
python-engineio==2.3.2
python-socketio==2.0.0
six==1.11.0
socketio==0.1.4
yarl==1.2.6

Facing same issue.

[2018-10-15 16:02] miguelgrinberg commented on #198
@agrawal-ankur it is a different issue, note that the error message is different. Are you sure your virtuale environment is activated? Looks like aiohttp was not found, which makes me think your virtualenv is not activated, or else you are using a different virtualenv by mistake.

[2018-10-15 16:10] agrawal-ankur commented on #198
Thanks for checking.
With python3, the error is :
server ankuagra$ python3 server.py
Traceback (most recent call last):
  File "server.py", line 4, in <module>
    sio = socketio.AsyncServer()
AttributeError: module 'socketio' has no attribute 'AsyncServer'
server ankuagra$

[2018-10-15 17:17] leofabridev commented on #201
Thank you very much @MoritzD your workaround works perfectly! You saved me hours of work

[2018-10-18 13:07] Prinkesh opened #206 "Memory Usage Increases heavily on packet sending"
![mem_vs_packets](https://user-images.githubusercontent.com/5650130/47156075-eda24f00-d303-11e8-8c14-a578744c4099.png)

After using `guppy` to profile heap usage i found that most of the memory which is not freed are instances of `engineio.packet.Packet`

[code]

What could be the problem ?

Could this happen if the clients are slow in receiving the packets ?

[2018-10-18 16:48] miguelgrinberg commented on #206
What did your server and client do while these measurements were taken? Any code you can share to help me reproduce here?

[2018-10-19 08:53] gordol opened #207 "permessage-deflate compression support"
Official Socket.IO [since 1.4.0](https://socket.io/blog/socket-io-1-4-0/) supports compression via [permessage-deflate (rfc7692)](https://tools.ietf.org/html/rfc7692).

What would be needed to support that here? Or is it better to support that perhaps with a middleware or something?

[2018-10-19 09:11] gordol commented on #207
FWIW, Eventlet's WebSocket server supports this since last year: https://github.com/eventlet/eventlet/pull/417

But looks like the eventlet implementation here isn't using their websocket class? Hmm...

[2018-10-19 09:36] miguelgrinberg commented on #207
I'll have to see, because eventlet isn't the only websocket implementation I use. It's probably easy, and yes, I am using the WebSocket support included in eventlet, so if they have it I should be able to support it.

[2018-10-19 09:52] gordol commented on #207
Hmm, does eventlet's normal wsgi server do some magic that makes it different than the websocket wsgi server?

I realize now I was looking at Flask-SocketIO code here: https://github.com/miguelgrinberg/Flask-SocketIO/blob/d8688bd0780641c18e585b7d8b3d938ce7d6a5e3/flask_socketio/__init__.py#L520

Looks to me like we're using eventlet's normal wsgi server, not the websocket server. The gevent impleme

[2018-10-19 10:42] miguelgrinberg commented on #207
Yeah, maybe it is all an internal enhancement and it just works if the client requests the compression.

[2018-10-19 19:01] gordol commented on #207
I'm going to close this...

It took a bit of lsof/strace hackery, but I was finally able to trace the socket calls between gunicorn and nginx. I then reverted back to eventlet==0.21.0 but it thew an error `ImportError: Failed to initialize: no suitable implementation for this system`. So I tried eventlet==0.20.1, and was able to see the raw JSON data flowing by. I then switched back to 0.22.0 and

[2018-10-19 19:01] #207 closed

[2018-10-20 20:33] ramazanpolat commented on #183
@3mp3ri0r I recommend you to use timestamp as date to send over JSON.

[2018-10-21 04:43] 3mp3ri0r commented on #183
Hi @ramazanpolat. Thanks for reply this old post. What I think is why don't we use native datetime if it supported by the database? Django and DRF support datetime by default.

[2018-10-22 07:46] a137x opened #208 "python-socketio and Quart ("asynchronous Flask")"
Good day Miguel,
Please advise how to use python-socketio with [Quart](https://gitlab.com/pgjones/quart).
I tried different way to marry them with no luck, and then raised an [issue](https://gitlab.com/pgjones/quart/issues/150) in quart project and was suggested to ask python-socketio creators to add support for Quart, they suggested me to find solution here.
regards.
Andrew

[2018-10-22 08:01] a137x opened #209 "python-socketio and Quart ("Asynchronous Flask")"
Good day @miguelgrinberg
Please advise how to use python-socketio with [Quart](https://gitlab.com/pgjones/quart)
I tried to marry them with no luck. Then I raised an [issue](https://gitlab.com/pgjones/quart/issues/150) in Quart project and was advised to find support here.

Best regards,
Andrew

[2018-10-22 08:05] a137x opened #210 "python-socketio and Quart ("Asynchronous Flask")"
Good day @miguelgrinberg
Please advise how to use python-socketio with [Quart](https://gitlab.com/pgjones/quart)
I tried to marry them with no luck. Then I raised an [issue](https://gitlab.com/pgjones/quart/issues/150) in Quart project and was advised to find support here.

Best regards,
Andrew

[2018-10-22 11:07] a137x commented on #210
Duplicated to #208

[2018-10-22 11:07] #210 closed

[2018-10-22 11:08] a137x commented on #209
Duplicated to #208

[2018-10-22 11:08] #209 closed

[2018-10-22 16:48] miguelgrinberg commented on #209
Quart is not supported. The only supported asyncio frameworks at this time
are aiohttp, Sanic and tornado.

On Mon, Oct 22, 2018, 9:24 AM a137x <notifications@github.com> wrote:

[2018-10-22 21:10] #208 closed

[2018-10-30 18:42] pudg opened #211 "Connecting client to multiple servers or making a client also a server"
I have a client C and two servers A and B. I'm able to connect C to A, but I also need to take the messages C got from A and forward them to B. Is it possible for a client to connect to multiple servers? Or can a client also act like a server?

[2018-10-30 22:18] miguelgrinberg commented on #211
Servers and clients can coexist, there are no limitations on that. You can have C connected to A and B and emit to both and necessary. You can also have a server and a client in the same process if that helps.

[2018-10-30 22:28] pudg commented on #211
How would the connection between C  and A/B be stablished? Through namespaces?

[2018-10-31 12:30] kleysonr commented on #207
Hi @gordol

Can you please provide more information in how to use flask-socketio to compress the data before sending it through the websocket channel ?

Best Regards.
Kleyson Rios.

[2018-10-31 16:44] gordol commented on #207
Use modern eventlet.

[2018-11-03 08:39] miguelgrinberg commented on #211
The SocketIO client knows how to connect to a SocketIO client. You need to use the connection function offered by the client.

[2018-11-05 16:26] thisroot opened #212 "tornado example cant work"
Hi, i try to run tornado examples, but both can't work for my Windows machine.
Then i try to run aiohttp examples and its run successfull

[2018-11-06 11:55] miguelgrinberg commented on #212
what happens when you run the tornado example on windows?

[2018-11-06 12:33] thisroot commented on #212
the connection accross server and client was estabilished, but messages can't trasmitted on between sides in all directions. thanks for aiohttp its better )

[2018-11-09 14:16] pacoyang commented on #201
Here is the snippet that override the tornado WebSocketHandler check_origin method more elegant
[code]

[2018-11-09 14:28] leofabridev commented on #201
@pacoyang Thank you, I'll give it a try once at home

[2018-11-11 13:19] python-programmer commented on #205
+1
I have the same problem, too
@RuWander I did not understand your solution.
The question was about python-socketio - multiple value for `Access-Control-Allow-Origin`
But the answer, was the sanic handler.

[2018-11-12 19:50] ohadlahav opened #214 "How to consume rabbitmq message queue ?"
My scenario is as follows:
From external process i'm emitting messages to a flask backend via kombu. This works fine.
In addition i'll want another external process (non flask) to listen to the queue for metadata / logging ingesting.
How can i achieve it using the `socketio.KombuManager('amqp://')` ?
Thanks !

[2018-11-12 23:13] miguelgrinberg commented on #214
So you want to listen to the internal messages that are used by Flask-SocketIO?

You can look at the code [here](https://github.com/miguelgrinberg/python-socketio/blob/master/socketio/kombu_manager.py#L91-L105), but a bit of a warning, the queue traffic is not part of the public specification, it can change at any time and without notice.

[2018-11-17 12:34] Serkan-devel opened #215 "ASGI support"
There are now asynchronous frameworks based on [ASGI](https://asgi.readthedocs.io/en/latest/) coming up, but I can't find any documentation to use socketio with it.

While it is possible to [mount Flask to that framework](https://python-responder.org/en/latest/tour.html#mount-a-wsgi-app-e-g-flask), I don't want to have a second web framework running just to run sockets.

[2018-11-17 14:09] miguelgrinberg commented on #215
Yes, support for ASGI would be an interesting addition.

[2018-11-19 17:04] speence commented on #163
Hi Miguel, I've encountered the same messages, reproducible by quickly toggling between views (and, like you mentioned above, would be quickly connecting and disconnecting the socket connection). Were these messages suppressed in a recent release?  I'm currently using:
`python-engineio==2.2.0
python-socketio==2.0.0
sanic==0.7.0
`
Not a huge deal however, like @eirikrye mentioned it's a minor nuisa

[2018-11-27 22:43] cyberbeast commented on #123
Would you be able to point to documentation/reference material that talks about deploying python-socketio (for aiohttp) on production?

[2018-11-28 10:12] zwerg44 opened #216 "Is it possible to store wsgi environ and eio packets pickled at Redis?"
Hello!

I'm currently trying to configure my monolith service, using:
- nginx
- uwsgi (4 workers, one service per app in systemd)
- Flask-SocketIO (Redis broker)
- Flask-Session (Redis broker)
- gevent
- some rest api

For now, I don't want to split my socketio communication to separate service.
I haven’t configured sticky sessions at nginx/uwsgi level, and I have some feeling that it is not neces

[2018-11-28 10:16] zwerg44 commented on #216
Here is, how i use Flask-SockeIO:
[code]

[2018-11-28 10:37] miguelgrinberg commented on #216
Mainly for performance reasons, yes. The state kept for each client is not only data, there are also queues and background tasks associated with clients, and these are harder to share.

May I ask what is the reason you don't want to turn on sticky sessions in your nginx config? That's all you need to do.

[2018-11-28 11:47] zwerg44 commented on #216
If that is useful feature, and if it sounds for you that it wouldn’t break something internal in **python-socketio**, I could try to fork and PR then.
I just wanted to consult, is it possible and does it make sense to do this.

[2018-11-29 01:29] zwerg44 commented on #216
I have tried to implement this using redis.
The current solution looks working, but there is still much stuff to fix, clean up, and discuss.
I haven't looked at the unit-tests and haven't compared performance yet.
I think, I will do clean up during the week and prepare the PR then.

I can confirm that with my described configuration, this is working:
- I've added 2 options `state_storage`, `socket

[2018-11-29 12:35] zwerg44 commented on #216
I'm not sure, but I suppose that unpicklable objects in the environ are always the same for all requests to the same flask instance so, I temporary saved the last appeared instances of unpicklable stuff to the state of socketio `__last_environ`. Maybe that environ parts, shared between different request, can be setted up during initialisation.

I'm not sure here too, I think redis itself is single

[2018-12-03 15:10] phls opened #217 "Please add copyright in files."
Hi @miguelgrinberg

I am currently packaging this software project for Debian and to improve the license documentation, I'd like to ask and recommend you to add in each file an header with your copyright.

Similar with you can see here:
https://github.com/kytos/kytos-utils/blob/master/bin/kytos

Best regards,

[2018-12-04 08:48] SelfDown commented on #35
thanks a lot ,resolve my problem

[2018-12-04 12:22] phls commented on #217
Hi, in fact this is more a suggestion than a issue.

Having license headers on each individual file is a good thing to have, because:

- Files can have different authors (copyright holders), different copyright years.
- People tend to pick individual files from projects and then it is good to have each file documented with a license.

Best regards,

[2018-12-05 13:50] tmbo opened #218 "Errors with engineio 3 version due to not pinned major version in setup.py"
Engineio released a version 3.0.0 - which, as expected, is not backwards compatible.

Do you mind creating a bug fix release where you pin the engineio version in `setup.py`, e.g. using
`'python-engineio>=2.2.0,<3'`

Currently an installation will pull 3.0.0 and result in the following exception for us:
[code]

[2018-12-05 14:10] miguelgrinberg commented on #218
This is actually a bug, it wasn't supposed to break existing apps. I'll fix it.

[2018-12-05 14:31] tmbo commented on #218
Here is the code: https://github.com/RasaHQ/rasa_core/blob/master/rasa_core/channels/socketio.py#L23

Which freeze do you mean, the breaking one or the working one?

[2018-12-05 14:33] tmbo commented on #218
Doesn't seem to work with engineio 2.3.x either,
[code]
pinned it to 2.2.0 for our project now.

[2018-12-05 14:33] miguelgrinberg commented on #218
That's fine, the code gave me what I needed. I'll have a fix up in a bit.

[2018-12-05 14:34] tmbo commented on #218
Awesome :heart:

[2018-12-05 14:37] tmbo commented on #218
Ah ok, so it should rather be
[code]
?

[2018-12-05 14:38] miguelgrinberg commented on #218
@tmbo that would fix the problem. But I'm also going to revert the order of the arguments in the `Middleware` class to what it was before, I should not have changed it.

[2018-12-05 15:00] tmbo commented on #218
Thanks for tagging a new version. So with socketio 2.1.1 it should be fine to use engineio 3?

[2018-12-05 15:02] miguelgrinberg commented on #218
Yes, that should have no problem, the 3.0 release of engineio remains compatible with this package (not counting bugs!)

[2018-12-05 15:05] miguelgrinberg commented on #218
I haven't released the package yet, working on it. The tag will match the package as I release it.

[2018-12-05 15:12] miguelgrinberg commented on #218
version 2.1.1 is now released on pypi.

[2018-12-05 15:12] #218 closed

[2018-12-05 15:34] tmbo commented on #218
Works like a charm, thanks a lot for that quick fix :rocket:

[2018-12-06 02:03] ckot opened #219 "need clarifications regarding Client Managers and multiple processes"
Hi, I'm creating a Django app which I'm planning to deploy with nginx + uwsgi, and make use of KombuManager for supporting multiple processes.

According to your docs, to support multiple processes, 'sticky' sessions  should be used by the load-balancer ('ip_hash' in nginx).  Would I be correct in understanding that it's the 'process' we want to be 'sticky' about, not the port, so if I want to dep

[2018-12-06 03:32] #107 closed

[2018-12-06 11:49] miguelgrinberg commented on #219
That is correct. You can run several uwsgi processes, each on a different port, and have nginx use sticky sessions to load balance among them. What you cannot do is launch multiple processes from a single uwsgi master, because uwsgi does not currently have sticky session support (though this feature is coming soon I believe).

No, that is not available and is by design. You can't also ask for a co

[2018-12-10 06:55] s3rvac opened #220 ""import socketio" fails with "AttributeError: module 'engineio' has no attribute 'WSGIApp'" with python-engineio==2.3.2"
The dependencies for `python-socketio` seem to be broken as I am still able to reproduce bugs reported in https://github.com/miguelgrinberg/python-socketio/issues/218#issuecomment-444505384 and https://github.com/miguelgrinberg/Flask-SocketIO/issues/848.

## Steps to reproduce

Run the following commands from a shell on Linux:
[code]

## Expected behavior

The last command (`import socketio` from

[2018-12-10 10:58] Habush commented on #220
I am still getting the error `AttributeError: module 'engineio' has no attribute 'WSGIApp'`.

Here is the output of `pip freeze`:

[code]

[2018-12-10 11:00] miguelgrinberg commented on #220
Of course you are. You are now using an invalid dependencies. The 2.1.2 release requires python-engineio 3.0.0. The fix is to declare the correct dependencies, you have to let `pip` do its thing.

[2018-12-10 11:10] Habush commented on #220
Okay. It is working now! Thank you!

[2018-12-14 22:00] schuster-rainer commented on #160
You guys saved me also a gazillion amount of time. Just integrating with rtmidi and I also used flask-socketio.

I also used your code @adrian410 and now it works like a charm. Had the same issue of not receiving output on my client with vue-socketio.

[2018-12-18 21:14] adrian410 commented on #160
Glad I could help you ! :)

[2018-12-18 21:55] schuster-rainer commented on #160
I still have some issues with this setup, namely ... I just get long polling. That might due to CORS ?! Don't know really, didn't investigate yet.

[2018-12-19 15:41] elsampsa opened #222 "does the client code work for https?"
Hi,

I'm trying to connect with a python-socketio **client** to a **https** (javascript) socket.io server using this sample code:
https://github.com/miguelgrinberg/python-socketio/blob/master/examples/client/asyncio/latency_client.py

I'm getting immediate disconnection from the secure **https** server.  Is the python-socketio client part good for secure **https** connections ?  I just wanted to a

[2018-12-19 16:21] miguelgrinberg commented on #222
You are using code that hasn't been officially released yet, so I can't really say. I'm not done with this work yet. In theory https should work, but haven't done a lot of testing, specially against the reference server in JS.

[2018-12-19 23:56] miguelgrinberg commented on #222
I just tested the client against a JS socket.io server and sure enough, there appears to be a problem. I don't think it is related to https though, I get a websocket connection error on regular http. The sync client example in the threads directory connects just fine. I'll look into the problem, the sync and async clients are nearly identical, but the websocket libraries that I'm using for each ar

[2018-12-20 14:34] elsampsa commented on #222
I don't know if it has anything to do with this, but ..
- My problem with your client implementation is, that an https connection drops mysteriously
- I started to work on my own client, and could reproduce the issue when ..

I start a message to the server with
[code]
Then it should continue
[code]
And everythings fine, but if I use, for example (observe the extra ","):
[code]
Then the server wil

[2018-12-24 15:05] ali9itani commented on #205
Thank you @RuWander , your solution worked perfectly

[2018-12-24 15:10] ali9itani commented on #205
In sanic, the cors was applied to all connections, even if the socketio connections has there own cors settings set. So there was a duplicate values one from the socketio default and one from the sanic_cors.
By using the sanic cors only on the functions not related to socketio, the things get to normal and no more duplicate values for socketio connections.
So @python-programmer  you need to separa

[2018-12-25 07:30] FLYYZJ opened #223 "python-socketio can not connect to flask server"

[2018-12-25 07:42] undersunshine commented on #223
Sorry,this is my first time to submit a issue. I try to use python-socketio to build a client and use it to connect flask server, which has installed the flask-socketio.But I found that when I emit the message to the flask server ,the server can not receive the message.I use the example from this project( https://github.com/miguelgrinberg/python-socketio/tree/master/examples/client/threads) to bui

[2018-12-26 04:48] freenetwork opened #224 "hot to attach redis, problem with upstream"
I use many instance socketio on iohttp
And use upstream for nginx, but broadcast not emiteted beetwen nodes, hot to use **reddis**?
Messages emit see only users in one node

[code]

[code]

[2018-12-26 04:59] freenetwork commented on #224
May be my problem is https://github.com/miguelgrinberg/python-socketio/issues/219

[2018-12-26 05:40] freenetwork commented on #224
i add

[code]

and run 3 instances

[code]

It work possible

[2018-12-26 08:42] miguelgrinberg commented on #224
Looks like you figured it out by yourself.

[2018-12-26 08:42] #224 closed

[2018-12-26 09:05] sdvcrx opened #225 "Client cannot connect to server when transports is websocket"
Server demo:

[code]

Client code (default transports):

[code]

When `transports` is default (`['polling', 'websocket']`), everything is fine, output is expected:

[code]

But when `transports` set to `websocket`, client exited without msg and server did not receive any msg.

[code]

[2018-12-26 11:50] miguelgrinberg commented on #225
Hmm. The transport set to websocket works for me. Are you using the latest versions of both python-socketio and python-engineio?

[2018-12-26 12:11] sdvcrx commented on #225
Thanks for the quick response.

My mistake! I didn't install `websocket` lib...

FYI: I found https://github.com/miguelgrinberg/python-engineio/blob/master/engineio/client.py#L306 logging a warning message, but if I initialize Client without `engineio_logger=True`, `self.logger` level is setting to `ERROR`, so the warning message will never show. Maybe it is a good idea that setting log level to `

[2018-12-26 12:11] #225 closed

[2018-12-26 16:24] felocru opened #226 "CPU usage remains constant"
Hi, I have a geolocation monitoring system for several vehicles through uwsgi-gevent to 1000 cores.
The number of users to monitor varies depending on the day and time.
However, the use of the CPU remains constant.
One day restart the server and in an hour approximately the CPU usage was growing up to 83%.
This is normal?
I attach an image.
![image](https://user-images.githubusercontent.com/119063

[2018-12-26 20:16] miguelgrinberg commented on #226
It's really hard to tell, I have no way to know how much of that ~80% CPU comes from your own application versus the server. How many users are you handling? Do you have any background tasks that are running at the same load regardless of how many users are connected?

[2018-12-27 14:58] felocru commented on #226
Hi, thanks for your help. On average there are 74 users.
I do not have any tasks in the background.
They are pure queries to databases that I make in on_connect events and others.
I will try to use a profiler (pyflame) to detect where it consumes more CPU. Although I think it will not work with gevent. I will also use the stacksampler that may be the best option. I'll keep you informed. Thank you.

[2018-12-27 15:44] felocru commented on #226
I have this dynamic graph in [SVG](https://drive.google.com/open?id=17jSZRo-ZHP61tETK5zU21JmRREBU1mvi) format of pyflame.
I need to do it with stacksampler, but since it is in production mode I have to wait for the least use of the system to try it.

[2018-12-27 15:50] felocru commented on #226
As additional information this is my configuration of uwsgi:
[code]

[2018-12-27 15:53] Serkan-devel commented on #226
Have you tried an asynchronous web framework, like [starlette](https://www.starlette.io/)?
It doesn't use gevent and is probably easier to debug

[2018-12-27 18:44] miguelgrinberg commented on #226
@felocru is the SVG supposed to reveal anything? I don't really understand what it means. Why don't you use a profiler that supports gevent? There are a few.

[2018-12-29 04:18] davidkingzyb opened #227 "How to close a client?"
Hello,
I use flask-socketio and python-socketio[client].
After I disconnect from the client the script is still runing and ping pong with the server.
How to close the client?

[2018-12-29 18:58] miguelgrinberg commented on #227
How do you disconnect? If you are calling the `wait()` method in the client, the expected behavior is that when the connection breaks this function should return, but this is all very new code, maybe I missed some use case.

[2018-12-30 12:53] davidkingzyb commented on #227
I tried calling the `wait()` method in the client, but after called `disconnect()` the connection was not broken. Is there a `destory()` method here? I can use it to cleanup the client.
[code]

[2018-12-30 18:11] miguelgrinberg commented on #227
You can't call disconnect in the connect handler, the connection isn't established yet at that point. Return `False` from the handler if you want to reject the connection. This is covered in the docs, by the way.

[2018-12-31 07:30] davidkingzyb commented on #227
I solved my problem by calling `sio.eio.disconnect(True)` after `sio.disconnect()`. I think maybe this step should be done in `disconnect()`? I'm not sure it's the right way, please tell me. Thanks for your help and Happy New Year !  🎉

[2018-12-31 08:19] davidkingzyb commented on #227
#228

[2019-01-01 07:11] #227 closed

[2019-01-03 18:36] felocru commented on #226
Hello @miguelgrinberg I have more information in this URL:
https://github.com/unbit/uwsgi/issues/1954

I'm not sure if this is related to high CPU usage

[2019-01-03 18:54] miguelgrinberg commented on #226
Is the CPU usage for the Python process or for the entire system? If the latter, have you verified that it is the Python process to increases its CPU usage? I can't really help much with this, as I said before, if this is indeed high usage on the Python process, then a profile should tell us where the CPU is going, without that it is a guessing game.

[2019-01-03 20:00] miguelgrinberg commented on #4
Closing due to inactivity. Please reopen if this is still an issue.

[2019-01-03 20:00] #4 closed

[2019-01-03 20:03] miguelgrinberg commented on #20
This is in general an issue with the web servers on which this package is running, not with this package itself. Closing. If you think there is an issue in this package, please reopen.

[2019-01-03 20:03] #20 closed

[2019-01-03 20:05] miguelgrinberg commented on #21
It seems that I missed this when it was posted. Not sure I understand the point of virtual host requests implemented in this package. Since a socket.io application is just a WSGI or ASGI app, you can implement any routing on the outside.

[2019-01-03 20:05] #21 closed

[2019-01-03 20:06] #23 closed

[2019-01-03 20:06] #24 closed

[2019-01-03 20:06] #35 closed

[2019-01-03 20:07] miguelgrinberg commented on #38
I believe all issues with missing disconnects have been addressed. Please reopen if this is still an issue.

[2019-01-03 20:07] #38 closed

[2019-01-04 02:45] RomanKosobrodov opened #230 "AsyncServer does not terminate correctly when using aiohttp"
Hi Miguel,
I'm getting the following error when trying to terminate an AsyncServer app using aiohttp:
[code]
This only happens when I have a client connected. To replicate the issue replace the last two lines in `python-socketio/examples/server/aiohttp/app.py` with the following code:

[code]
Make sure you have a client connected before you terminate the server.

I am using Python 3.7.1, python-en

[2019-01-05 10:33] sohilfynd opened #231 "How to connect to python socket.io sanic server without using socket.io.js. Using raw websocket layer"

[2019-01-05 12:54] miguelgrinberg commented on #231
You can't use raw websocket. For that, just use the websocket server support in sanic, you do not need this package.

[2019-01-05 12:54] #231 closed

[2019-01-06 04:50] RajshekarReddy commented on #29
Hello miguelgrinberg,

Currently I have this line of code
`# creates a new Async Socket IO Server
sio = socketio.AsyncServer(async_mode='aiohttp', async_handlers=True)
# Creates a new Aiohttp Web Application
app = web.Application()
# Binds our Socket.IO server to our Web App
# instance
sio.attach(app)`

is there anything else I need to setup to make the server user uvloop?

[2019-01-06 08:31] miguelgrinberg commented on #29
@RajshekarReddy Not from this side. Your aiohttp application controls the loop, so you need to ensure aiohttp is configured to use it.

[2019-01-06 10:43] miguelgrinberg opened #232 "ack packets are sent too early when async_handlers is True"

[2019-01-06 17:48] kolinger commented on #178
I did have same issue. Problem was incorrect `hiddenimports` for my `python-engineio` version.

**python-engineio <=3.0 contains `engineio/async_threading.py`
python-engineio >=3.1 contains `engineio/async_drivers/threading.py`**

In my case `hiddenimports=['engineio.async_drivers.threading']` was the solution.

[2019-01-06 22:33] KiloFoxtrotPapa opened #233 "Strange behaviours when pingInterval > pingTimeout"
I've run into several strange behaviours which only happens when `pingInterval > pingTimeout`.

### Problem 1: Server closes websocket prematurely
This setting would not work at all with a `python-socketio` server, but is unfortunately the current defaults (`pingInterval=25000, pingTimeout=5000`) for [socket.io](https://socket.io/docs/server-api/#Server).

This is what happens when we use the sock

[2019-01-07 00:33] KiloFoxtrotPapa commented on #233
That might be it; the handler definitely needs a few seconds. Though, wouldn't that only lock up read loop? Is that also affecting/delaying the ping and write loops?

[2019-01-07 02:13] KiloFoxtrotPapa commented on #233
### Problem 3 (More info):
Contrived example like below:
- handler blocks for 5 secs
- server sends MESSAGE every 2 secs
- ping_interval: 9 secs, ping_timeout: 1 sec

\
async_client.py (logger setup snipped)
[code]

\
busy_server.js (logger setup snipped)
[code]

\
client.log
[code]
\
server.log
[code]

The obvious solutions would be to speed up the handlers and/or relax the ping_{interval,timeout

[2019-01-07 06:19] RajshekarReddy commented on #29
@miguelgrinberg  Thank you that helps. By the way you are doing a fantastic job :) thank you so much.

[2019-01-07 14:16] miguelgrinberg commented on #233
As I mentioned previously, this problem is fixed in python-engineio master. I haven't released it yet. Your example works fine if I use that fix, plus adding a bit of extra time to the ping interval in the ping loop task like you did.

[2019-01-07 14:51] KiloFoxtrotPapa commented on #233
Ah that's what you meant. I looked at the couple released commits and they looked like refactoring changes only. Now it makes sense, thanks!

[2019-01-08 14:08] andreyrusanov opened #234 "Return data if connection is refused"
With JS socket.io server it is possible to do the following:
[code]
How does this logic could be replicated? When disconnect, I have to return to a client string error code to explain the root cause of declined connection.

[2019-01-09 09:31] denebolar opened #235 "Importing six in setup.py (commit b0a8b1f) fails in clean Python2 environments"
In clean environments, e.g. a freshly created virtualenv, six is not available as a dependency even though it is included in install_requirements (no pre-depend, ready only after setup finishes).

Environment tested: Python 2.7.15

[2019-01-09 11:57] miguelgrinberg commented on #235
I'm not sure I understand what your issue is about. The `six` package is declared as a main dependency, so what is the problem? What do you mean by "six is not available as a dependency"?

[2019-01-09 12:37] denebolar commented on #235
Six as a dependency is not be available at installation time (for use in setup.py), only afterwards at runtime, after setup.py finished.

[2019-01-09 12:51] denebolar commented on #235
To clarify things, here is what's happening:
[code]

If you remove the references to `six`, setup will not fail and _afterwards_ install the dependency `six`.

[2019-01-09 16:50] miguelgrinberg commented on #235
Oh yes, I see what you mean now. Thanks, I'll take care of it.

[2019-01-09 22:11] miguelgrinberg commented on #235
Fixed in master for both packages. New releases coming up in a bit.

[2019-01-09 22:11] #235 closed

[2019-01-09 23:18] miguelgrinberg commented on #233
@KiloFoxtrotPapa I think all these issues should be addressed. You need to upgrade both python-socketio and python-engineio to get all the fixes. Thanks!

[2019-01-09 23:18] #233 closed

[2019-01-10 13:34] andreyrusanov commented on #234
Update:
As I discovered in the server source code, it is not possible to do some. However, data could be sent in case of refused connection and it could be handled by the client. Solution for this one would be allow to raise special type of exception where data could be passed. For instance:

[code]
@miguelgrinberg if this one looks good to be build into the app I can make a pull requests and add

[2019-01-10 15:20] miguelgrinberg commented on #234
So returning `False` is not enough for you? You want to also include an error message?

[2019-01-10 15:22] StevenJW opened #236 "How to display ConnectionError: Unexpected status code %s in server response?"
I'm trying to connect with my website but I'm getting the error I placed in the title and I'm not sure how I can display the unexpected status code %s?
This is my code:
[code]

[2019-01-10 15:31] andreyrusanov commented on #234
@miguelgrinberg imagine scenario where during connect authentication data is passed, and it could be different reason why it is not valid. Correct me if I am wrong, I saw it possible in another socket.io implementations. Even more, JS client assumes you may error data as I posted in issue description. What do you think about it?

[2019-01-10 19:00] miguelgrinberg commented on #236
This is a bug, I'll fix the error message so that it has the number instead of %s.

[2019-01-10 19:37] #236 closed

[2019-01-11 22:30] moshisushi commented on #233
I've had the same problem, I think, but didn't reply until now since a fix was in progress.

I have a python-socketio server and client, and the client always disconnects after 60 seconds with the stacktrace below, which looks very similar to what @KiloFoxtrotPapa. I have updated to python-socketio==3.1.1 and python-engineio==3.2.2 but it's still the same. @KiloFoxtrotPapa please let me know wheth

[2019-01-11 23:07] miguelgrinberg commented on #233
@moshisushi do you have multiple loops in your application?

[2019-01-11 23:14] moshisushi commented on #233
@miguelgrinberg I'm just trying with the smallest possible client application at the moment:

[code]

I have a browser socket.io client as well which connects fine and stays connected.

I turned on debugging on the server and I don't see the client sending any PINGs after an initial one.

I also see ```221abc6945e24bfe8e591ae9cc2925a2: Sending packet OPEN data {'sid': '221abc6945e24bfe8e591ae9cc29

[2019-01-11 23:51] miguelgrinberg commented on #233
@moshisushi the problem is that the `AsyncClient` call creates some asyncio objects. This is before you call `asyncio.run()`, which creates a new loop. So some of the attributes in the server end up attached to the default loop that was current before `asyncio.run()` is called.

I'll have to think about how to make this new way of starting asyncio apps work...

[2019-01-12 12:37] moshisushi commented on #233
@miguelgrinberg Thanks, yeah that makes sense, though I'm not sure what the "old" way is (or do you mean something like eventlet?).

If there's an alternative way of running the program I'm happy with that for now.

[2019-01-12 12:41] miguelgrinberg commented on #233
No, see [this example](https://github.com/miguelgrinberg/python-socketio/blob/master/examples/client/asyncio/latency_client.py). The idea is that you create the loop manually. This was the normal way to start an asyncio app until 3.7 came about. I'll think about how to support `asyncio.run()` for a future release.

[2019-01-12 12:49] moshisushi commented on #233
@miguelgrinberg Thanks a million! Working perfectly now.

[2019-01-13 19:52] miguelgrinberg commented on #192
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:52] #192 closed

[2019-01-13 19:52] miguelgrinberg commented on #189
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:52] #189 closed

[2019-01-13 19:52] miguelgrinberg commented on #186
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:52] #186 closed

[2019-01-13 19:52] miguelgrinberg commented on #171
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:52] #171 closed

[2019-01-13 19:52] miguelgrinberg commented on #170
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:52] #170 closed

[2019-01-13 19:52] miguelgrinberg commented on #169
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:52] miguelgrinberg commented on #166
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #166 closed

[2019-01-13 19:53] miguelgrinberg commented on #165
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #165 closed

[2019-01-13 19:53] miguelgrinberg commented on #162
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #162 closed

[2019-01-13 19:53] miguelgrinberg commented on #159
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #159 closed

[2019-01-13 19:53] miguelgrinberg commented on #157
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #157 closed

[2019-01-13 19:53] miguelgrinberg commented on #156
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #156 closed

[2019-01-13 19:53] miguelgrinberg commented on #155
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #155 closed

[2019-01-13 19:53] miguelgrinberg commented on #153
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #153 closed

[2019-01-13 19:53] miguelgrinberg commented on #151
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #151 closed

[2019-01-13 19:53] miguelgrinberg commented on #149
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #149 closed

[2019-01-13 19:53] miguelgrinberg commented on #148
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #148 closed

[2019-01-13 19:53] miguelgrinberg commented on #145
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #145 closed

[2019-01-13 19:53] miguelgrinberg commented on #142
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #142 closed

[2019-01-13 19:53] miguelgrinberg commented on #141
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #141 closed

[2019-01-13 19:53] miguelgrinberg commented on #138
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #138 closed

[2019-01-13 19:53] miguelgrinberg commented on #135
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #135 closed

[2019-01-13 19:53] miguelgrinberg commented on #131
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #131 closed

[2019-01-13 19:53] miguelgrinberg commented on #127
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #127 closed

[2019-01-13 19:53] miguelgrinberg commented on #110
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #110 closed

[2019-01-13 19:53] miguelgrinberg commented on #105
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #105 closed

[2019-01-13 19:53] miguelgrinberg commented on #101
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #101 closed

[2019-01-13 19:53] miguelgrinberg commented on #100
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #100 closed

[2019-01-13 19:53] miguelgrinberg commented on #97
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #97 closed

[2019-01-13 19:53] miguelgrinberg commented on #90
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #90 closed

[2019-01-13 19:53] miguelgrinberg commented on #74
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #74 closed

[2019-01-13 19:53] miguelgrinberg commented on #69
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #69 closed

[2019-01-13 19:53] miguelgrinberg commented on #67
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #67 closed

[2019-01-13 19:53] miguelgrinberg commented on #61
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:53] #61 closed

[2019-01-13 19:53] miguelgrinberg commented on #57
This issue will be automatically closed due to being inactive for more than six months. Seeing that I haven't responded to your last comment, it is quite possible that I have dropped the ball on this issue and I apologize about that. If that is the case, do not take the closing of the issue personally as it is an automated process doing it, just reopen it and I'll get back to you.

[2019-01-13 19:53] #57 closed

[2019-01-14 10:43] sphh commented on #169
Since I have not found a solution and this is not answered yet, I would like to reopen it. Unfortunately github does not offer this (there is only a `Comment` button). @miguelgrinberg could you please reopen this issue. Thanks.

[2019-01-14 14:38] brney opened #237 "Aiohttp gets a huge delay after adding background tasks"
Hello,

First and foremost thank you for this amazing library. Recently I implemented socketio on my website, which is using the aiohttp framework. However, whenever I want to create server generated events using the emit method and in the form of background tasks, and I start them, the website faces a very huge delay and I do not really know why. Is there any fix to this?

Thank you very much!

`

[2019-01-14 14:50] miguelgrinberg commented on #169
@sphh oh, sorry about that, looks like somehow this issue was out of my radar for a long time. I apologize.

So the good news is that things have changed since you wrote this issue a year ago. I now have my own Socket.IO client included in this package, which will give you a much more consistent solution, I think.

One problem you have in this code is that the `wait_for_callbacks()` function is bl

[2019-01-14 14:52] miguelgrinberg commented on #237
Can you show some code? This repository has an example with a background task that emits. Do you see delays with that example as well, or is it only with your application?

[2019-01-15 07:46] brney commented on #237
Here is a small snippet of the code:

`
import socketio

from routes import setup_routes

socket = socketio.AsyncServer(async_mode='aiohttp', async_handlers=True)
app = web.Application()
socket.attach(app)
aiohttp_jinja2.setup(
    app, loader=jinja2.FileSystemLoader('./templates'))
main = Main()

async def temperature():
    while True:
        await socket.sleep(0.2)
        await socket.emit('t

[2019-01-15 09:00] sphh commented on #169
Thank you for your explanation and for pointing out your non-blocking client. I'll give it a try.

I think for the moment we can close this issue. Thank's for your help.

[2019-01-15 09:00] #169 closed

[2019-01-15 11:51] miguelgrinberg commented on #237
Are you sure the way you interact with your sensor is friendly to asyncio? If you are doing anything blocking there you have a big problem.

[2019-01-15 18:00] ash30 opened #239 "UnicodeDecodeError on python 2.x"
Hi,

I can successfully connect to a 3rd party socketio server when using python 3.x but when attempting to use the library on python 2.7.10 I'm getting a unicode decode error.

I assume its the 3rd party server sending unicode and my python socket client expecting ascii, is this a known issue for the 2.x library?

thanks for your time

[code]

[2019-01-15 19:09] brney commented on #237
Right.. Seems like I rushed too quickly haha. Forgot to remove a time.sleep somewhere. Thanks that did the trick!

[2019-01-16 09:11] bgmango opened #240 "redis_manager.py can not validate redis password correctly when use redis.Redis.from_url()"
I use redis as queue, and my redis password contain some special symbol, like '@', '#' and so on. I find redis_manager.py can not parse my redis password correctly， because from_url(redis_url) function missed a decode_components argument.  I readed python-redis source code, and geted this argument default is False, but i think python-socket can supply this argument to set decode_components = True.

[2019-01-16 09:35] miguelgrinberg commented on #240
Why can't you pass your redis URL already decoded?

[2019-01-16 09:40] miguelgrinberg commented on #239
@ash30 this is when sending data from your application. Are you working with binary data by any chance?

[2019-01-17 07:14] bgmango commented on #240
For example, my redis url is "redis://:123@#!@localhost:6379/0"， and then i use SocketIO(app, message_queue=redis_url) to initialize, what happened is that socketio can not connect redis server.

[2019-01-17 09:16] miguelgrinberg commented on #240
Did you try a urlencoded URL, such as `redis://123%40%23%21@localhost:6379/0`? This isn't really a problem with this package, the URL that you pass is sent into the redis package as is.

[2019-01-17 10:06] bgmango commented on #240
Yes, i had tried to use "redis://123%40%23%21@localhost:6379/0", but redis return invalid password. So i had to read redis(python package) source code and found decode_components argument. If i pass the url "redis://123%40%23%21@localhost:6379/0" to python redis package, I must set  decode_components argument is True.

[2019-01-17 11:20] miguelgrinberg commented on #240
Okay, I think I understand. I wonder why they chose to disable urldecoding by default...

[2019-01-21 15:07] ash30 commented on #239
It doesn't seem to be binary data. I delved into it today, from what I can see:

- `message_body = '\x00\x01\xff2'`
- `msg = u'POST /rtc/?transport=polling&EIO=3&sid=udFZMakBliNjq21mAAAM HTTP/1.1\r\nHost: localhost:8000\r\nAccept-Encoding: identity\r\nContent-Length: 4\r\nContent-Type: application/octet-stream\r\n\r\n'`
- Going up the frames, this message seems to be from an Array of x1 packet: `[

[2019-01-21 23:02] miguelgrinberg commented on #239
I don't see any errors when running your node server and Python client.

[2019-01-23 05:03] Bennyhwanggggg opened #242 "How does client reconnect work?"
I currently have a `socketio.Server()` and a `socketio.Client()` and when the server is killed  with `Ctr + C`, the client would just die but from reading the source code, I thought it should at least try to reconnect.

I am wondering how to trigger reconnect behavior when client detect that the server has being killed?

[2019-01-23 09:31] Bennyhwanggggg commented on #242
There is no output on the client side, it just simply stops.

[2019-01-23 14:08] Bennyhwanggggg commented on #242
This is easily replicated by using the examples provided in the docs

client.py
[code]

server.py
[code]

The console output on the server:
[code]

Console output on client side
[code]

[2019-01-23 14:09] miguelgrinberg commented on #242
Yes, working on a fix at the moment. Thanks.

[2019-01-23 19:47] miguelgrinberg commented on #242
This is now fixed in the python-engineio package. Please upgrade and let me know if there are still any problems!

[2019-01-23 22:03] dwaltrip commented on #118
Hi Miguel. Thanks for this outstanding library, it is really well done.

I was also wondering about this issue. It seems to me that giving `RedisManager` the ability to manage rooms would allow for decreased decoupling between the main web server and a separate websocket server.

A possible architecture is one that limits the amount of business logic on the websocket server, but this is harder to

[2019-01-25 10:08] imcom commented on #239
Hi guys, I have the very same issue with @ash30

Library Version
Python 2.7.15
python-socketio                    3.1.1
python-engineio                    3.3.0
python-engineio-client             1.1

just a connect will trigger the issue
[code]

[2019-01-25 10:20] imcom commented on #239
Use python3 solves the problem ...

[2019-01-25 18:58] miguelgrinberg commented on #239
@imcom do you get an error in the client or the server? The OP was having issues with the client, but you are showing a server...

[2019-01-27 08:58] #196 closed

[2019-01-27 08:59] #195 closed

[2019-01-27 20:01] milteven12 commented on #242
Hello Guys, should reconnect work on a AsyncClient if I close the server abruptly? (closing the window)?

[2019-01-27 20:38] milteven12 commented on #242
Hello @miguelgrinberg , my python-engineio version is 3.3.0 but client doesn't reconnect.

When server is closed, the client script breaks, here is the error:

`websockets.exceptions.ConnectionClosed: WebSocket connection is closed: code = 1006 (connection closed abnormally [internal]), no reason`

Reconnection is configured as true, see below:

`sio = socketio.AsyncClient(reconnection=True, recon

[2019-01-27 23:32] miguelgrinberg commented on #242
@milteven12 can I ask you to test the master branch of python-engineio and report back if you now get reconnects? To install the fix, use the following command while in your virtualenv:

    pip install https://github.com/miguelgrinberg/python-engineio/archive/master.zip

Thanks!

[2019-01-28 01:32] dwaltrip commented on #118
@miguelgrinberg Hey Miguel, thanks for the quick response. I've been mulling this over, but haven't managed to reach anything conclusive yet...

Websockets and HTTP are just ways of transferring data to and from the client. Business logic will be needed in both cases to determine how that data is used, who can access it, modify it, etc. If I keep the two servers separate, then I eventually will ne

[2019-01-28 10:40] miguelgrinberg commented on #242
@milteven12 please provide the full error, including the stack trace.

[2019-01-28 18:42] gordol commented on #74
so yeah, today i updated a pile of dependencies, and noticed python-socketio went to 3.0 recently, implying to me that there's a major breaking change. i can't find a changelog, so i had to go through and diff via git, and it's still not clear if there were actually breaking changes or not.

[2019-01-28 22:13] miguelgrinberg commented on #74
@gordol yes, that commit and in general all the changes I've made as a result of adding the Socket.IO client.

[2019-01-29 10:48] milteven12 commented on #242
Full error below:
[code]

[2019-01-29 12:31] miguelgrinberg commented on #242
@milteven12 this error wasn't what I expected, I think I need your help in reproducing it here.

Based on what I see on the error, the problem occurred during the connection phase (it could be a first-time or a reconnection attempt, I have no way to know that from the stack trace). The HTTP connection was successful, but then the upgrade to websocket failed. I can make this process a bit more robu

[2019-01-29 17:02] saknarak commented on #239
I have same problem in python27, no problem in python3

my server is nodejs
nodejs and python3 client connect without problem
but python27 have a problem with encoding

[code]

I try to change encoding
[code]

but still not solve the problem, got this stack trace instead
[code]

[2019-01-29 17:12] miguelgrinberg commented on #239
@saknarak same question I asked above, that nobody answered yet:

Are you working with binary data by any chance?

[2019-01-29 17:46] saknarak commented on #239
Binary data is not from my json data but from socketio protocol (maybe)
from /usr/local/lib/python2.7/dist-packages/engineio/client.py line 576
I print p.encode() out
I found there are binary data between my data
![image](https://user-images.githubusercontent.com/7794793/51928191-e7099480-2427-11e9-8dd6-ef940fe5a761.png)

Now I can fix my problem by apply this patch

https://bugs.python.org/file21

[2019-01-30 08:19] imcom opened #244 "AttributeError: module 'socketio.exceptions' has no attribute 'TimeoutError'"
File "/usr/local/lib/python3.7/site-packages/socketio/client.py", line 289, in emit
raise exceptions.TimeoutError()
AttributeError: module 'socketio.exceptions' has no attribute 'TimeoutError'

I believe it well explains itself .. already...

[2019-01-30 09:37] miguelgrinberg commented on #244
@imcom sorry about that, looks like the 3.1.1 build had some code I then decided to not include. I have release 3.1.2 now with the fix.

[2019-01-30 09:37] #244 closed

[2019-01-30 11:57] sohilfynd opened #245 "When i hit directly using IP, websocket works fine but when routed using nginx give following error. Please help. Can you also give nginx config for sanic."
[<engineio.packet.Packet object at 0x7efc00e69c88>, <engineio.packet.Packet object at 0x7efbfc504c50>] <class 'list'>
[2019-01-30 17:20:33 +0530] [11351] [ERROR] Invalid response object for url b'/ws/store-dashboard-feed/?from_date=2019-01-28T00%3A00%3A00Z&to_date=2019-01-31T23%3A59%3A59Z&brand=&store_id=616&page_no=1&page_length=20&lane=new&is_affiliate_order=true&EIO=3&transport=websocket', Expe

[2019-01-30 12:15] sohilfynd commented on #245
ac25bfd10344492a909c0e8cc14561f3: Sending packet OPEN data {'sid': 'ac25bfd10344492a909c0e8cc14561f3', 'upgrades': [], 'pingTimeout': 60000, 'pingInterval': 25000}
ac25bfd10344492a909c0e8cc14561f3: Sending packet MESSAGE data 0
[<engineio.packet.Packet object at 0x7fccac82b6a0>, <engineio.packet.Packet object at 0x7fccac82b748>] <class 'list'>
[2019-01-30 17:44:31 +0530] [12927] [ERROR] Invalid re

[2019-01-30 15:20] miguelgrinberg commented on #245
And you are sure your nginx configuration is appropriate for Socket.IO? Here is an example valid config: https://flask-socketio.readthedocs.io/en/latest/#using-nginx-as-a-websocket-reverse-proxy

[2019-01-30 15:27] sohilfynd commented on #245
location /computron/ws {
        include proxy_params;
        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_set_header Upgrade "Websocket";
        proxy_set_header Connection "Upgrade";
        rewrite ^/computron(.*) $1 break;
        proxy_pass http://computron/ws;
    }

This is my nginx config for route. I am getting 101 but Connection header has keep-alive which i think

[2019-01-30 15:34] miguelgrinberg commented on #245
I can't really help you because I do not know what endpoints you have defined. It appears nginx is not routing your Socket.IO endpoint correctly from the logs.

[2019-01-31 20:16] miguelgrinberg commented on #242
@milteven12 the master branch of python-engineio now handles the error that you are receiving properly. I think it does, at least, I have not been able to reproduce your situation here. Please reopen if the problem still occurs.

[2019-01-31 20:16] #242 closed

[2019-02-01 03:47] sohilfynd commented on #245
Thanks for the help. There was the issue with my office server. It was adding Connection as Keep-alive. One more thing I am getting following Error, when i am using ensure_future to run mongo db watcher in background. Can you suggest some best practice to implement mongodb watcher with sanic and socketio?. I am giving watcher forever task to ensure_future which i cancel on disconnect of client. Af

[2019-02-01 13:44] miguelgrinberg commented on #245
@sohilfynd I don't think this error is related to socket.io at all. You are either using an non-async mongo library, or some error is occurring in that task.

[2019-02-01 16:13] saikrishb commented on #239
Got around this issue by converting the _sid_ (unicode) to a string in engineio/client.py (line 286)
The sid is later concatenated with the _base_url_ which is a string (line 291)

[2019-02-02 13:27] xjpf opened #246 "Can't establish async connection"
Installed:
pip3 install "python-socketio[asyncio_client]"
[code]
Shows "invalid syntax" for "await sio.connect.."
What i'm doing wrong?

[2019-02-02 13:30] miguelgrinberg commented on #246
Please review the documentation on asyncio at python.org. You can't simply invoke an asynchronous function, there is some boilerplate that you need to write to get an async program going.

[2019-02-02 14:22] imcom commented on #239
@miguelgrinberg sorry for the late reply, the error is on the client side. @saikrishb got this right I believe

[2019-02-04 01:04] maksutovaynur opened #248 "No binary mode in AsyncServer"
Cannot create AsyncServer with binary mode:

TypeError: __init__() got multiple values for keyword argument 'binary'

[2019-02-04 05:01] xjpf commented on #246
Well i'm just reading your documentation:

Just copied all the things from examples, and all they worked except this one.
Can you then add working examples to documentation? :)

[2019-02-04 09:03] miguelgrinberg commented on #246
That is not an example, it is a snippet. It is assumed that you know how to work with asyncio if you want to use that version of the server. It is a non-trivial subsystem of Python, if you are not familiar with it then I strongly suggest you use the non async server.

And if you still want to do this, then complement what you learn from the documentation with the "working" examples that I provide

[2019-02-04 09:04] #246 closed

[2019-02-04 09:09] miguelgrinberg commented on #248
The `binary` option makes sense only for Python 2 to specify one of two modes for handling binary values. In Python 3 binary and text values are always handled correctly so there is no need for this setting.

[2019-02-04 09:09] #248 closed

[2019-02-04 13:37] CpHarding commented on #35
It appears you now need

'engineio.async_drivers.eventlet'
not
'engineio.async_eventlet'

in hidden imports using the below version:

python-engineio    3.3.0
python-socketio    3.1.2
eventlet           0.24.1

[2019-02-04 13:41] miguelgrinberg commented on #35
@CpHarding Yes, that is correct, the async drivers have been through a restructure in the v3 engineio package.

[2019-02-04 19:09] ramazanpolat commented on #109
I've tried [Firecamp](https://chrome.google.com/webstore/detail/firecamp-a-campsite-for-d/eajaahbjpnhghjcdaclbkeamlkepinbl) (a chrome extension that can connect and test a socket.io server) with the sample code and found out that if you use empty string as namespace, everything works fine.

[2019-02-05 17:47] Ankita130889 commented on #109
When I try to send binary data from the python-socketio client to a nodejs server which is using socketio 2.0 protocol the server closes the connection and reconnects to start a new session.

Sending text data from the python-socketio client to the nodejs server using the socketio 2.0 protocol works fine.

[2019-02-07 17:12] maksutovaynur commented on #248
Thank you for reply!

The problem, actually, is that when I try to send binary types (Python 3 version), Exception is thrown.
Sent from Mailspring (https://link.getmailspring.com/link/1549559452.local-100563e8-27b9-v1.5.5-b7939d38@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrMDBiOGM4ZDFlNmJhM2Y2YjIwZmRiOGMyNWYwNzlkMmM5ZmMwZTY3ZTU1MTkwYjJjOTJjZjAwMDAwMDAxMTg2ZmM

[2019-02-07 17:14] miguelgrinberg commented on #248
@maksutovaynur I can't see what you are linking to, the link is to an email only you have access to.

[2019-02-08 02:13] bachya opened #249 "How to reconnect after engineio warning"
Every so often, I run into a situation where I get this stacktrace when running a client:

[code]

However, the client never seems to reconnect. Also, there's no exception for me to latch onto (so that I can reconnect, myself).

How would you recommend handling reconnection in this scenario?

[2019-02-08 12:12] miguelgrinberg commented on #249
Are you using the latest version of this package and python-engineio?

I had some bugs on the reconnection logic, but I thought I fixed them already. If you get this problem with the latest releases of these two packages, then maybe if you can share your client code it can help me reproduce.

[2019-02-08 13:47] bachya commented on #249
Got it. Let me ensure I’m on the latest and get back to you. Thanks!

[2019-02-08 14:23] bachya commented on #249
Confirmed I'm using version 3.1.2 of `python-socketio` and version 3.3.0 of `python-engineio`.

The client logic is a part of my library, [`aioambient`](https://github.com/bachya/aioambient), and can be found [here](https://github.com/bachya/aioambient/blob/dev/aioambient/websocket.py). Including it here for ease:

[code]

An example – [also found within the project](https://github.com/bachya/aioa

[2019-02-09 20:18] miguelgrinberg commented on #249
Can you upgrade python-engineio and retry please?

[2019-02-09 23:32] bachya commented on #249
I ran 3.3.1 of `python-engineio` successfully for a while, but eventually, this occurred:

[code]

(reminder that the `Simulating some other task occurring...` messages are from my example script)

[2019-02-09 23:35] miguelgrinberg commented on #249
Any idea how these interruptions happen?

[2019-02-10 00:04] bachya commented on #249
Great point; I mistakenly shut down the socket myself. Let me run a new test.

[2019-02-10 14:05] bachya commented on #249
Quick update: I let my test run for 12 hours. Everything stayed connecting and working for 4 hours or so, but at some point during the night, the client disconnected (without my explicit calling). Unfortunately, I didn’t save enough tmux buffer to see where or why. 😒

I’ll start a new session today (with an expanded buffer) and try to capture when the disconnect occurs.

[2019-02-10 14:41] miguelgrinberg commented on #249
I'm not worried about the disconnect. Disconnects can happen for a lot of reasons, all external to this package. The question is if the client reconnected after the disconnection. If it did, then we're good.

[2019-02-10 17:09] bachya commented on #249
It doesn’t appear that it did at the end; for a huge chunk of the last stages of the tmux buffer, all I saw was the `Simulating some other task...` messages from my script. Could be that the socket server was down for a really long time, of course, but I doubt that.

Current test coming up on 3 hours and, whether disconnects are occurring or not (I can’t explicitly tell), I’m still getting data fr

[2019-02-11 13:55] #230 closed

[2019-02-11 17:06] bachya commented on #249
Latest test ran fine for 10 hours, then saw this:

[code]

However, the reconnection doesn’t seem complete, as I didn’t receive data for the remainder of the test’s runtime (another 9 hours):

[code]

[2019-02-11 22:40] miguelgrinberg commented on #249
The reconnection starts completely from scratch, none of the attributes of the previous connection are restored. The set up of your connection should be done in the `connect` handler, so that it is done again when the reconnection is established. In your case, it appears that the connection handler is set directly by the caller of the `Websocket` class. What you should do is have this class instal

[2019-02-11 22:45] bachya commented on #249
Got it! Thanks so much for your help; I think this info, in combo with 3.3.1 of `python-engineio`, should get me where I need to be. I’ll close for now and re-open if the issue persists. Thanks again!

[2019-02-12 03:05] bachya commented on #249
Unfortunately, my latest test is exhibiting the same behavior, despite changes; hoping you’d be willing to check my logic.

Here’s my new `Websocket` class:

[code]

The socket initially connects just fine, but upon failure and reconnection, I don’t see the `_init_connection` coroutine being called again:

[code]

Thanks!

[2019-02-12 10:49] miguelgrinberg commented on #249
@bachya are these logs the complete log output? What I find odd is that there is nothing regarding the HTTP connection that must be occurring before the WebSocket upgrade is attempted, or the regular PING and PONG packets that are constantly being exchanged between the server and each client. I assume you are choosing which log lines to show me?

Based on the logs that you are showing the HTTP lon

[2019-02-12 10:59] antrikshdua opened #250 "cant emit data from python (sio.emit('test data', 'data') to nodejs"

[2019-02-12 15:22] bachya commented on #249
I have, indeed, been giving you only (what I hoped were) relevant snippets. From the latest run (on `INFO` level), here's the entire log (with the latter message truncated due to sufficient duplication):

[code]

I do notice something interesting. In my client, I explicity set the `websocket` transport (since that is what this socket.io server – a NodeJS implementation – requires; for some reason

[2019-02-12 17:04] miguelgrinberg commented on #249
@bachya Okay, now with the additional info I think I've found the reason why the reconnection goes through an upgrade instead of directly through websocket. This bug is also to blame for the reconnection failure. Please upgrade python-engineio to 3.3.2 and retry. 🤞

[2019-02-12 17:31] miguelgrinberg commented on #250
Without an example or logs, there is nothing I can do to help you.

[2019-02-12 18:28] bachya commented on #249
You got it. New test running – will report back as soon as I see a successful reconnect.

[2019-02-12 18:45] miguelgrinberg commented on #249
@bachya you can always kill your server and restart it to force the reconnect. That's how I test it here.

[2019-02-12 18:59] bachya commented on #249
Unfortunately, this isn't a socket.io server that I control – it's controlled by ambientweather.net.

[2019-02-12 19:01] miguelgrinberg commented on #249
Oh, I see. Then you can unplug your Internet for a second or two. Or just wait, if you know that the server will eventually kick you out.

[2019-02-12 20:19] bachya commented on #249
Success! Using 3.3.2 and after a disconnection, my client now gracefully reconnects and resumes.

Thank you for your help!

[2019-02-12 20:19] #249 closed

[2019-02-15 17:29] maksutovaynur opened #251 "Binary data through AsyncServer and AsyncClient"
How to send/receive binary data?
When I'm trying to send binary using AsyncClient and receive using AsyncServer, an error raises:
"TypeError: Object of type bytes is not JSON serializable".

[2019-02-15 17:31] maksutovaynur commented on #248
I've created another issue for that.
https://github.com/miguelgrinberg/python-socketio/issues/251

[2019-02-15 17:36] miguelgrinberg commented on #251
Please include the full stack trace of the error.

[2019-02-16 06:14] #168 closed

[2019-02-16 16:17] miguelgrinberg commented on #201
This issue is addressed in version 3.4.1 of python-engineio.

[2019-02-16 16:17] #201 closed

[2019-02-16 20:02] miguelgrinberg commented on #205
I was just looking at this issue (sorry for taking so long!).

Since you guys have CORS set up on the Sanic side, wouldn't it make sense to disable CORS support on the Socket.IO side? You can do that by passing `cors_allowed_origins=[]` in your `SocketIO` constructor.

Let me know if that works!

[2019-02-19 08:55] DeoLeung opened #252 "keep reconnect after disconnect"
[code]

if the server gone before disconnect, disconnect seems to have no effect, it will retry until the server up and do the disconnect, not sure if it's by design to do so

[2019-02-19 19:41] miguelgrinberg commented on #252
If you don't want the client to attempt to reconnect, add `reconnect=False` when you create your `Client` or `AsyncClient` object.

[2019-02-20 04:54] DeoLeung commented on #252
I see.

maybe the documentation could clarify that `reconnect=True` will keep trying event manually calling `disconnect()`

[2019-02-20 05:53] DeoLeung opened #253 "graceful shutdown"
Hi I'm testing my project using `tornado`, one problem is the `AsyncServer` and `AsyncClient` are not properly shutdown, which generating quite a lot of noisy logs at the end. is there and document about how to do a graceful shutdown?

[2019-02-20 05:55] miguelgrinberg commented on #253
I'm aware of this. A fix is coming up soon.

[2019-02-20 06:40] miguelgrinberg commented on #252
Do you have an example that you can share? If you call disconnect there shouldn't be any retries.

[2019-02-20 06:49] DeoLeung commented on #252
here is the client side code
[code]

[2019-02-20 07:07] miguelgrinberg commented on #252
So you are calling dsconnect while the reconnects are happening? That's the problem, the client is not connected while the reconnect attempts are in progress.

[2019-02-20 07:10] DeoLeung commented on #252
yes, so I think that may just be a confusion for new user

[2019-02-20 07:15] miguelgrinberg commented on #252
The only reason this makes sense is because you are doing it from the REPL. In a real application you would be getting connect and disconnect handlers, so your application will know that it is in a disconnected state.

[2019-02-20 07:17] DeoLeung commented on #252
I see, thanks for the clarification

[2019-02-20 07:17] #252 closed

[2019-02-20 07:24] miguelgrinberg commented on #253
Fixed in release 3.4.3 of package python-engineio.

[2019-02-20 07:24] #253 closed

[2019-02-20 21:25] exinmusic opened #254 "Websocket transport not being used when the Socketio.Client is run on a Raspberry Pi."
tl;dr Using this library, Raspberry Pi's can handle websocket transport as servers, but always resort to polling when clients.

This setup involves raspberry pi's running as clients and one as a server. When a pi is told to act as the server, it can handle websocket connections from socketio.Client running on my pc and macbook. But when I assign a RPI to be a client, it uses polling, and when I fo

[2019-02-20 22:57] exinmusic commented on #254
Okay, update. On macos I was running the client in 2.7. Running it on 3.5 I get the same issue as on the pi.
Inversely, I tried running a client in 2.7 on the Pi, but I still get polling. Makes me think theres a dependency I'm missing? If requests isnt already on the machine, its has me install that, but might there be something else?

[2019-02-21 06:47] miguelgrinberg commented on #254
Did you install the websocket client on your Pi? Try `pip install python-socketio[client]` or `pip install python-socketio[async-client]` to get the required dependencies into your environment.

[2019-02-21 07:28] exinmusic commented on #254
Yes, but ran that again with both python 2.7 and 3.5 for posterity. Still polling or nothing from pi's.
This is what installs:
python-engineio 3.4.3
python-socketio 3.1.2
six 1.12.0

[2019-02-21 07:32] miguelgrinberg commented on #254
Okay, I need to review how I have the dependencies set up then. Try installing the required dependencies manually:

    pip install requests websocket-client

[2019-02-21 07:33] exinmusic commented on #254
nailed it.

[2019-02-21 07:36] #254 closed

[2019-02-21 10:19] chinnaxs commented on #251
I also have trouble directly putting a 'bytes' object into 'emit' as parameter.

[code]
TypeError: Object of type 'bytes' is not JSON serializable

Even though the [documentation](https://python-socketio.readthedocs.io/en/latest/) says it should be possible?
`The single argument provided to the method is the data that is passed on to the server. The data can be of type str, bytes, dict or list. Th

[2019-02-21 18:28] feikiss opened #256 "how to handle on_error_default in python-socketio"
In flask-socketio, I found the following sample code:

[code]

How to catch the same/similar error in python-socketio please?

[2019-02-21 18:33] miguelgrinberg commented on #256
You have to catch your errors yourself, using a try/except block.

[2019-02-22 04:36] quietcoolwu commented on #24
@miguelgrinberg Do you mean the example used by js code in `index.html`?

[2019-02-22 06:13] miguelgrinberg commented on #24
@quietcoolwu see the example for Django: https://github.com/miguelgrinberg/python-socketio/tree/master/examples/server/wsgi/django_example

[2019-02-22 07:09] quietcoolwu commented on #24
@miguelgrinberg thanks for your quick response!
yeah, the `javascript` code in `index.html` in this dir is a must-need now? If we removed the html, will python-socketio embedded in `django` still work?
I found that you claimed `Unfortunately there is no integration with Django at this point, so you will need to write the glue code that connects your Django app with the SocketIO server`, I wonder d

[2019-02-22 07:47] miguelgrinberg commented on #24
The JavaScript code is the client side application, it has nothing to do
with Django. You can remove that and provide your own client in a separate
project if you prefer.

On Fri, Feb 22, 2019, 8:09 AM Kai Wu <notifications@github.com> wrote:

[2019-02-23 07:51] pia-nyk opened #257 "python-socketio handlers working asynchronously, even after specifying 'async_handlers = False'"
server.py
![screen shot 2019-02-23 at 1 25 26 pm](https://user-images.githubusercontent.com/24822362/53283565-7deb1780-376e-11e9-9531-27d7670ce0d7.png)

client.py
![screen shot 2019-02-23 at 1 33 40 pm](https://user-images.githubusercontent.com/24822362/53283668-ade6ea80-376f-11e9-98e2-89973daa03bd.png)

[2019-02-23 09:25] miguelgrinberg commented on #257
What is the problem with the code you posted?

[2019-02-23 11:59] pia-nyk commented on #257
The message from the second emit is printed to the console before the message from the first emit. If the code was working synchronously, why is it not waiting for the first handler to complete execution. I am under the impression that 'async_handlers = False' should make the code synchronous.

[2019-02-23 12:02] miguelgrinberg commented on #257
Sure, but the `async_handlers` option is a server option. The client has nothing to do with that. If you revert your logic and have the client send two consecutive messages to the server then they'll be handled one after the other. The client does not have the option to run handlers asynchronously at this time.

[2019-02-23 12:05] pia-nyk commented on #257
Got it! Thanks a lot!

[2019-02-24 02:04] Dracio opened #258 "AsyncClient example README"
The README for asyncio client, appears to be for Threading.
![image](https://user-images.githubusercontent.com/43559184/53294120-bb6b9700-37a6-11e9-93b8-6d222809fe66.png)

[2019-02-24 19:59] miguelgrinberg commented on #258
Fixed. Thanks for the report.

[2019-02-24 19:59] #258 closed

[2019-02-25 15:20] sambrightman opened #259 "ClientNamespace calls Client.disconnect incorrectly"
`ClientNamespace` does this:

https://github.com/miguelgrinberg/python-socketio/blob/1fb1f6d6e5a25159e9c1f35b005098e05a4a18e4/socketio/namespace.py#L184-L191

but `Client` doesn't take a `namespace` keyword argument:

https://github.com/miguelgrinberg/python-socketio/blob/1fb1f6d6e5a25159e9c1f35b005098e05a4a18e4/socketio/client.py#L329-L337

It's hard to tell whether `Client` is intended to take a

[2019-02-25 22:01] miguelgrinberg commented on #259
Yes, this is a recent mistake, the disconnect method should not take a namespace. I'll fix it.

[2019-02-26 05:00] adam-nielsen opened #260 "connect() returns too soon - "packet already sent in initial handshake""
I am trying to briefly connect to a Node SocketIO server, send a message, then disconnect and continue with the Python code.

Unfortunately while this works occasionally, most of the time the Node code gives me an error:
[code]
My Python code is very short:
[code]
The problem seems to be that `connect()` returns before the connection has been established, even though I am not running anything in a

[2019-02-26 11:26] miguelgrinberg commented on #260
The server has background tasks that support many of the operations, such as emits. The connect call is in fact synchronous, but the emit is not.

The "robust" way to handle this is by having the server invoke a callback after it received and processed the `setData` event. On the Python side you will get the callback, and at that point you can disconnect. The next release of this package will have

[2019-02-26 15:44] shaan95 commented on #223
Hi Miguel, I'm facing a similar issue although only with the async client. The client loses connection after a while when connected to Flask-SocketIO server.

Here's the server code:
`from eventlet import monkey_patch
monkey_patch()
from flask import Flask, request
from flask_socketio import SocketIO

app = application = Flask(__name__)
socketio = SocketIO(app, logger=True, engineio_logger=True, a

[2019-02-26 15:52] miguelgrinberg commented on #223
@shaan95 I'll look into it. It appears to be a problem with events that have no arguments like these ping and pongs.

[2019-02-26 19:43] harmon opened #261 "Namespace Disconnects called twice?"
**Main issue:**
Calling `client.disconnect()` ends up triggering disconnect events for all namespaces twice. I think it should be called only once, but wanted to get your opinion.

**Flow:**
If I call socketio's `client.disconnect()`, it will call each namespace's disconnect listeners:

https://github.com/miguelgrinberg/python-socketio/blob/1fb1f6d6e5a25159e9c1f35b005098e05a4a18e4/socketio/client.

[2019-02-27 07:25] adam-nielsen commented on #260
Interesting, thanks for the info!  If the `connect` call is synchronous, how is the `emit()` message able to arrive at the destination before the connection has been fully established?  The remote end is complaining that I am sending data with `emit()` before the connection is ready.  If `connect()` were synchronous, this shouldn't be possible?

[2019-02-27 09:56] miguelgrinberg commented on #260
@adam-nielsen I may be missing something here. You say that the emit arrives before the connection has been established. How did you determine that? I don't see anything in the logs that you copied that indicates that the emit was received. There is no reference to `setData`, which is the event name.

My interpretation of the problem is that you are disconnecting before giving time for the emit to

[2019-02-27 15:21] TheAethereal commented on #35
I'm still struggling with this.  I'musing the following command:

    python -m PyInstaller -F signage.py --hidden-import=engineio.async_drivers.eventlet

My versions:

    eventlet==0.24.1
    PyInstaller==3.4
    python-engineio==3.4.3
    python-socketio==3.1.2

Error result:

`Traceback (most recent call last):
  File "W:\Source\Sign\signage.py", line 21, in <module>
    socketio = SocketIO(ap

[2019-02-27 18:31] #257 closed

[2019-02-27 19:53] #261 closed

[2019-02-27 20:00] #259 closed

[2019-02-27 20:09] miguelgrinberg commented on #223
@shaan95 using your code I'm not able to reproduce the problem that you get in your logs. Are you running the server and the client from different virtualenvs, such that maybe you are using different versions of some of the packages? Can you send me the requirements.txt for the two sides?

[2019-02-28 00:22] harmon commented on #261
Damn, son! That was quick! I wasn't sure if it was a valid bug, but if I find any more I'll see if I can submit a PR.

Thanks!

[2019-02-28 17:00] ragymorkos opened #262 "Issue each SocketIO connection for each client independently?"
Hi Miguel,

I am currently trying to do some experimentation with python-socketio. The flow of events I am aiming for looks like the following:

1) Client sends a GET request to a Flask server
2) Flask server responds with the needed HTML/JS/CSS/img, etc.
3) In a separate thread, a SocketIO connection is made to this client. This thread will live for as long as the client is connected.

This is ju

[2019-02-28 17:56] miguelgrinberg commented on #262
The connections are always initiated by the client, there is no mechanism for the server to set up a Socket.IO connection from a background thread.

I would modify your flow of events as follows:

1. Client sends a GET request to a Flask server
2. Flask server responds with the needed HTML/JS/CSS/img, etc.
3. The JS provided by the server includes code that imports the Socket.IO client and connect

[2019-02-28 19:41] shaan95 commented on #223
@miguelgrinberg yes i'm running the in separate virtualenvs.
Here is the pip freeze output for the server:
[code]
And the following for the client:
[code]

[2019-02-28 20:34] ragymorkos commented on #262
Thanks for the quick response! You are correct; the client is always the one that initiates the Socket.IO connection. My main goal, however, is to deal with each client in a separate thread. That is, on connection to a client, I would like all of the messaging between the server and client from that point afterwards to occur in its own thread only. The main HTML/JS/CSS/img, etc. can be sent to the

[2019-02-28 22:04] miguelgrinberg commented on #262
@ragymorkos the threading is managed internally by the Socket.IO server. There are a couple of threads allocated to each client, you do not get access to them directly. I suspect this package is not what you want, to be honest. You probably want something that is low-level. This package is very high-level.

[2019-03-01 00:09] ragymorkos commented on #262
Ok, thanks a lot, this is helpful. What package(s) would you recommend for me that would be low-level enough to try and achieve this?

[2019-03-01 10:08] miguelgrinberg commented on #262
@ragymorkos I'm not sure, I really don't understand why you are interested in managing threads yourself. Maybe a plain websocket server, there are a few out there.

You may also want to look at the user session support in this package, which also allows you to store separate settings per-client, but without you having to manage it. See https://python-socketio.readthedocs.io/en/latest/server.html#u

[2019-03-01 10:08] #262 closed

[2019-03-02 03:20] DeoLeung commented on #206
notice the same behaviour

using `python==3.7.2` `tornado==5.1.1`, redis manager

it increases after a js client disconnect (meanwhile a python write only client keep generating data from server)

[2019-03-02 03:31] DeoLeung commented on #250
maybe the `pickle` part, I saw the redis manager by default use pickle to handle the data.

[2019-03-02 09:20] abondar opened #263 "AsyncClient in tests hangs after completing tests"
Hi

I have an issue with my test setup. After completing all tests runner hangs indefinitely.
As far as I investigated it has something to do with not closing connections properly on server side

Here are my test setup:

[code]

After completing `test_basic` runner hangs. If I remove `sio_client` fixture from test it closes normally.

If I put breakpoint on marked line, and try getting `asyncio.Ta

[2019-03-02 10:15] miguelgrinberg commented on #263
Can we provide a complete unit test to help me reproduce the issue here?

[2019-03-02 10:18] miguelgrinberg commented on #250
Please provide an example.

[2019-03-02 12:06] abondar commented on #263
Here are testing files:

`conftest.py` - https://gist.github.com/abondar/eb7b62353c443adf08a0796b437f8ac8
`test_basic.py` - https://gist.github.com/abondar/4ac8cdb272439d08c9cc0bb532f1ff28

Requirements to setup env:
https://gist.github.com/abondar/852c0addda2a6b5a82e488fb0dd4a4b7

So if you put testing files in directory `test`

And call from the root of the project `pytest test/` issue should be

[2019-03-02 14:13] miguelgrinberg commented on #263
Thanks.

There are a couple of problems. The first is with the dependencies. The `pip install python-socketio[asyncio_client]` does not pull one required dependency, the `websockets` package. This has been corrected in master a few days ago, but haven't completed the work that goes in the next release yet.

Still investigating the remaining problem...

[2019-03-02 14:49] miguelgrinberg commented on #263
The other problem is, I think, a misunderstanding on your part. The `disconnect()` call is asynchronous, it just initiates a disconnect. The hang occurs because the server disappears before the disconnect process is completed, I think. I was able to avoid the hang adding a `wait()` call, which does block until the client is completely disconnected:

[code]

[2019-03-02 19:42] Nocturem commented on #263
I would mention that engineIO appears to be importing websockets https://pypi.org/project/websockets/ in async_client but importing websocket https://pypi.org/project/websocket/ in the sync code
this is version 0.2.1 Last released: Dec 3, 2010

is this intentional?
websocket looks like abandoned code..

[2019-03-02 19:46] miguelgrinberg commented on #263
@Nocturem the websocket client for the sync code is called [websocket-client](https://pypi.org/project/websocket_client) and it is not abandoned.

[2019-03-02 20:47] abondar commented on #263
Yeah, `wait()` really did solve the issue.
But for some reason it really takes some time to wait for connection to close (approximately second per connection)

However, thanks for your help, it was blazingly fast!

[2019-03-02 21:04] Nocturem commented on #263
ahh installed and now getting a response.
getting the same ssl verify errors for both transports now which progress :)

[2019-03-03 23:17] michalgeci commented on #250
I have same problem.
Python client can connect, and also recieves messages, but cannot send or emit any message.

Here is my code:
[code]

I have tried this on mac and linux with python 2 and also python 3.
Server is running on Node.js with dependencies:
[code]

Code runs without errors but emitting just doesn't  work.

[2019-03-03 23:23] miguelgrinberg commented on #250
@michalgeci can you share the server code?

[2019-03-04 14:32] michalgeci commented on #250
Sure.

[code]

Also here is console.log from server:
[code]

And here from python client
[code]

[2019-03-05 07:29] plaa opened #264 "AttributeError: module 'socketio' has no attribute 'Client'"
I'm trying to use the Socket.io client.  I've seen #190 and #198 and I've made sure I've installed `python-socketio` and don't have `socketio` installed.

I run the test program:

[code]

and I get the output:

[code]

I have no idea why `one` is printed out twice.

I'm running on MacOS Mojave with Python 3.7.2 installed with Homebrew.  Some diagnostics:

[code]

Thanks for any assistance!

[2019-03-05 09:59] miguelgrinberg commented on #264
You can't have a file named `socket.py` in your top-level directory, because it shadows the socket module from the Python standard library. Rename that file to some other name and try again.

[2019-03-05 10:09] plaa commented on #264
Thanks. I just realized the same thing as I was testing another socket.io library and it _still_ printed out the `one`. Had no idea you could accidentally override system libraries in Python.

[2019-03-05 11:16] miguelgrinberg commented on #264
yeah, I've seen people trip on this so many times! What I found to be a good practice to avoid this type of issue is to not put your application in the top-level directory of your project. Instead, put it inside a package, and just put a `run.py` or similar in the top-level that imports the package. Inside the application package you don't have a problem because now those modules are not in the Py

[2019-03-05 12:26] plaa commented on #198
Another thing that can cause this is if you inadvertently named your file `socket.py` (or some other system library name).  This overrides the system library [causing weird failures (#264)](https://github.com/miguelgrinberg/python-socketio/issues/264).

[2019-03-06 03:25] saltaverde commented on #227
@davidkingzyb FYI I was having a problem in my application's unit tests where after I called `sio.disconnect()` and the test ended I was seeing `BrokenPipeError` exception on a thread other than the main one. I added `sio.eio.disconnect()` and that seems to remedy the problem.

[2019-03-06 04:40] davidkingzyb commented on #227
Maybe the old version has this problem. This bug should have been fixed at v3.0.1 #228, now `sio.disconnect()` contain `eio.disconnect()`, you don't need call it manually.

[2019-03-06 17:50] saltaverde commented on #227
Hmm, I'm using v3.1.2 and was experiencing the `BrokenPipeError` when not manually calling `sio.eio.disconnect()`

[2019-03-06 18:34] sambrightman opened #265 "WebSocket upgrade failed"
I always get this log message when connecting:

[code]

[code]

[2019-03-06 18:50] miguelgrinberg commented on #265
does your server support WebSocket? That is not an error, it is a warning indicating that a WebSocket connection was attempted and could not be made. The connection will use long-polling in that case.

[2019-03-06 22:20] dhilln opened #266 "Getting "Maximum number of clients reachedSegmentation fault (core dumped)" with only one client."
Hi, I'm attempting to write a small scale screen sharing app with python-socketio and it runs fine for a while, then I suddenly get this error despite there only being one client connected.

Heres the code for the server:

[code]

[2019-03-06 22:33] dhilln commented on #266
And heres the code for the client, which I forgot to add but may be useful.

[code]

[2019-03-06 23:02] dhilln commented on #266
Edit: Turns out this error isnt in this library, I found an issue by Googling the error and it referenced to an error in mss, closing the issue.

https://github.com/BoboTiG/python-mss/issues/72

[2019-03-06 23:02] #266 closed

[2019-03-07 02:43] Dracio commented on #223
I have come across the same issue. I noticed when I used the requirements.txt from the examples, then it would work. The issue appears to be linked to eventlet. Any version past 0.21.0 will result in this UNKNOWN data packet.

[2019-03-07 09:45] sambrightman commented on #239
I was having this issue and it was fixed by a recent engineio upgrade (3.2.3 -> 3.4.3 if I recall correctly).

[2019-03-07 10:40] sambrightman commented on #265
Server is JS socket.io, which by default supports WebSockets. However, if I try to force websockets-only (`{ transports = ['websockets'] }`) I get:

[code]

It looks like socket.io will default to listening on `0.0.0.0` so I'm not sure why this wouldn't work. It also doesn't seem to provide an option to specify the listen host/interface. If I try to use `0.0.0.0` on the client, I get the same 400

[2019-03-07 10:47] miguelgrinberg commented on #265
Can you share server logs for the case where you explicitly request websocket transport?

[2019-03-07 11:19] sambrightman commented on #265
Good point. Turns out that it just fails because the first request is polling:

[code]

[2019-03-07 11:21] miguelgrinberg commented on #265
You need to configure the client to connect with websocket. add `transports=['websocket']` when you create it.

[2019-03-07 11:35] sambrightman commented on #265
Of course. This works:

[code]

So only the upgrade doesn't work. I also tried explicitly setting `transports: ['polling', 'websocket']` on the server, and the upgrade fails with the same warning.

[2019-03-07 11:36] miguelgrinberg commented on #265
Okay, I'll have to look into the upgrade then. What version of the server do you have?

[2019-03-07 11:37] sambrightman commented on #265
2.1.1

[2019-03-09 07:32] rajezvelse commented on #205
@miguelgrinberg  I tried by setting `cors_allowed_origins=[]`. But it couldn't help. The error is

I have also tried setting `cors_credentials`. Couldn't help. @RuWander 's workaround is helped to resolve this.

[2019-03-09 11:39] miguelgrinberg commented on #265
Well, I'm not sure what's going on for you, because everything works well for me here. Here are my server logs during the upgrade:

[code]

In the logs at the top of this issue you received this instead:

[code]

So I still claim that there must be something in your project or environment that prevents the websocket connection from completing. Maybe try a simple server example like the ones you ca

[2019-03-09 11:47] miguelgrinberg commented on #223
@shaan95 I left the test running for 5 minutes and it still did not reproduce the error. And @Dracio, I'm using eventlet 0.24.1 and still no issue.

[2019-03-09 14:24] michalgeci commented on #250
I had a similar problem as is solved here:
[https://stackoverflow.com/questions/43414318/node-js-socket-io-emit-not-working](url)

So I've found a solution. I had a wrong server code.
It should look like this

[code]

[2019-03-09 18:00] miguelgrinberg commented on #250
@michalgeci thanks for sharing the solution, I missed that when I looked at your code.

[2019-03-09 18:00] #250 closed

[2019-03-09 18:39] miguelgrinberg commented on #65
I have finally found what I think is a good solution to this problem. Starting from release 4.0 the connection is established before the connect event handler is invoked. If the handler returns `False`, then a disconnect is issued after it returns.

[2019-03-09 18:39] #65 closed

[2019-03-09 18:41] #263 closed

[2019-03-09 21:41] Dracio commented on #223
That is confusing because when I run your examples:

example/server/wsgi/latency
example/client/asycnio/latency_client

In the following environment I get the "Received unexpected packet of type 69" after about 40 sec.

`aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
click==7.0
dnspython==1.16.0
eventlet==0.24.1
flask==1.0.2
greenlet==0.4.15
idna-ssl==1.1.0 ; python_version < '3.

[2019-03-11 09:39] shaan95 commented on #223
Can confirm as @Dracio said, it seems to be working well with eventlet 0.21.0. Still getting the same error on 0.24.1. I have tried running the code above with the requirements I posted above and getting the issue on Windows, Linux and MacOS as well.

[2019-03-11 11:28] sambrightman commented on #265
I don't think it gets much simpler than this:

[code]

[code]

[2019-03-11 13:37] miguelgrinberg commented on #265
Do you get the same result with the latest node server (v2.2.0)? That's the version I have here and the upgrade worked well. Even if I downgrade I still don't see the problem. :/

[2019-03-11 18:07] voidloop opened #267 "Close client_session"
I would want to manage ConnectionError exception but what is the right manner?
This is my client code:

[code]
I have this output message:
[code]
How can I gracefully close the client session?
python-socketio version 4.0.0.

Thank you.

[2019-03-11 22:04] gabrielguerrer opened #268 "Connection to a Django-channels server is hanging"
When running a very basic channels server (https://channels.readthedocs.io/en/latest/tutorial/index.html), although the connection is accepted in the server side, it freezes in the client side when running sio.connect() . Any idea?

[2019-03-11 23:39] miguelgrinberg commented on #268
This is Socket.IO, not channels or WebSocket. You have to use a WebSocket client I suppose. With this package you can only connect to a Socket.IO server.

[2019-03-11 23:46] miguelgrinberg commented on #267
It's a bug, I inadvertently introduced. It's related to using `emit()` in the connect handler. If you remove that you'll be fine. Since this isn't a real connection error you can't really catch anything to prevent it. I'll take care of it.

[2019-03-11 23:52] miguelgrinberg commented on #267
@voidloop you've only shared the client. Can you share the server as well? Your server is likely erroring in an unexpected place, and that is I think the reason why a connection error isn't properly raised by the client. On second thought I believe this is probably a mistake in your server application, but in any case, whatever it is it is being handled really badly and that needs to be improved.

[2019-03-12 12:55] sambrightman commented on #265
Latest `socket.io` and associated dependencies does not fix it. `python-socketio` still sends `probe` (you said you sent `probe2`).

[2019-03-12 13:53] miguelgrinberg commented on #265
@sambrightman actually `2probe`, the `2` is the package type. Can you share your requirements.txt and package.json files? Still unable to replicate this error here.

[2019-03-12 14:35] voidloop commented on #267
I think the server is not important because when I ran the client I also intentionally shut down the server. So http://rpi.lan:5000 was intentionally unreachable.
If you think the server is important, I can surely share it.

[2019-03-12 14:41] miguelgrinberg commented on #267
@voidloop maybe we are not on the same page on this then. This is what I think should be your results:

- If you connect to an unreachable server, a `ConnectionError` is raised in the client.
- If you connect to a reachable server that has this still unknown problem I'm trying to discover, your client ends without raising any exception, but shows a few error messages on the console.

Am I wrong? I

[2019-03-12 22:36] voidloop commented on #267
You are right, but I would want to know in the first case (an unreachable server) why the client prints out "Unclosed client session" when the server is unreacheable and if it exists a way, how to I could finalize/manage the exception.

[2019-03-12 23:16] miguelgrinberg commented on #267
Okay, now I think I understand. Unclosed client session is a message from aiohttp, the HTTP client that I'm using for the long-polling transport. It appears I'm not doing proper clean up when the client fails. Was the unclosed message all you cared about?

[2019-03-13 22:14] voidloop commented on #267
Yes. I'm sorry Miguel, I didn't explain in the right way the problem.
I tried python-engineio with the new fix and now my client seems to work great: the message is gone.
Thank you.

[2019-03-13 22:48] #267 closed

[2019-03-14 09:03] chendongxtu opened #270 "confused about the port param"
Hi, miguelgrinberg, thanks for your great work!
      i'm confused at how to used the port in flask project.  for example:

in the __init__.py, some part of the code:
from flask import Flask
from flask_socketio import SocketIO
socket_io = SocketIO()

def create_app(config=None):
    app = Flask(__name__)
    app.wsgi_app = ProxyFix(app.wsgi_app)
    socket_io.init(app)

in the views.py, some part

[2019-03-14 10:39] miguelgrinberg commented on #270
The application combines the http and websocket routes into a single server, so it is not possible to them on separate ports. You can write two separate applications and then use different ports.

[2019-03-15 02:45] chendongxtu commented on #270
umm， thanks！
but how can i run this two different applications int the same project?
createt a sub thread to run the websoket application?

and i have another problem, the default socket_io is use ws protocal,
how can i upgrade it to wss?
in the source code, i see only use eventlet , then it can use ssl,
if i wanna use gevent, how can i upgrade ws to wss?
thanks and hope for ur guid and reply, tha

[2019-03-15 07:36] miguelgrinberg commented on #270
I guess you can do that, but why? Run them as separate application, you'll avoid the complications of hosting two applications in the same process space.

This package has not say on how you run your server. You have to check the documentation for the server that you are using (eventlet, gevent, uwsgi, asgi, aiohttp, sanic, tornado) and configure it to use https and wss.

[2019-03-15 10:09] chendongxtu commented on #270
thanks for ur reply, i have read the document and will try to use nginx as a proxy_server to support wss.

in my flask project, all of the requests are used https method now,
but in some special situation, it is not a good idea.
for example:
      if client wanna know the auction newest bid price,  it will frequently calls the server using short polling to get results, which will influence perform

[2019-03-15 10:12] miguelgrinberg commented on #270
You just need to write two separate apps and run one of them in a background thread, while the other is in the main thread. This is a strange configuration, I never needed to do this so I don't have any examples to show. Sorry.

[2019-03-15 11:56] sambrightman commented on #265
Completely fresh, minimal environments:

[code]

Resulting `package-lock.json`:

[code]

[code]

[2019-03-15 11:57] sambrightman commented on #265
I am suspicious about those Unicode (?) characters. Do you expect that? Maybe something related to Python 2 default encoding?

[2019-03-15 11:59] sambrightman commented on #265
Yes. The upgrade works on Python 3:

[code]

[2019-03-15 12:12] miguelgrinberg commented on #265
@sambrightman Ah, okay, so it is a Python 2 issue probably. I have another issue regarding Unicode problems with Python 2 (https://github.com/miguelgrinberg/python-socketio/issues/239) that might be related. At this point problems with Python 2 are low priority given its imminent end of life, but I will try to look into it.

[2019-03-15 13:25] sambrightman commented on #265
I can't be 100% it covers all cases, but I think #239 is fixed already (as I commented in that ticket).

This issue is fixed for me (and still works on Python 3) with the following change:

[code]

If this seems correct to you I'll open a PR (I'm not too familiar with cross-version Unicode compatibility).

[2019-03-15 16:17] miguelgrinberg commented on #265
@sambrightman thanks! Yeah that looks correct, I'm doing [the same on the server](https://github.com/miguelgrinberg/python-engineio/blob/master/engineio/socket.py#L169). So feel free to submit it as a PR.

[2019-03-15 19:58] miguelgrinberg commented on #265
Fixed by https://github.com/miguelgrinberg/python-engineio/pull/101.

[2019-03-15 19:58] #265 closed

[2019-03-15 21:40] Majiick opened #271 "Emit delayed from thread"
[code]

The `logger.info("connected ", sid)` runs instantly when the client connects, and `logger.debug('json')` runs instantly as well when a message from zmq is received.

However, there is usually a big delay 1-20sec from when sio.emit is called to when the client receives it. Sometimes the client receives the update instantly, but most of the time there's a delay and the client will receive th

[2019-03-15 23:24] miguelgrinberg commented on #271
I haven't done much with zmq, but from what I recall eventlet comes with its own wrapper for it, you can't just use pyzmq on its own. Try using `from eventlet.green import zmq` instead of `import zmq`.

[2019-03-16 11:52] Majiick commented on #271
Works perfectly now, thank you. Since I was using noblock didnt think it'd cause any problems.

[2019-03-16 12:58] Majiick commented on #271
I'm not sure if this is socketio related or ZMQ related however, feel free to close this issue.

[2019-03-16 13:20] miguelgrinberg commented on #271
Not sure if this is causing your problem, but you definitely do not want an application that is spinning doing nothing. Either increase the sleep, or better, use a non-blocking read from your socket. You may also want ensure the delay is not on the client side by adding logging that shows when each Socket.IO packet was received.

[2019-03-16 14:19] Majiick commented on #271
I checked using TCP dump and some prints in socketio lib, it seems that internal_emit is getting called but the packets do not get sent until later sometimes according to TCPDump.

I also tried a blocking read without the sleep and the behavior is exactly the same.

I noticed something strange in the logs socketio generates.

When the client connects, this gets instantly logged:

[code]

After thi

[2019-03-16 15:01] miguelgrinberg commented on #271
You have to enable the logs from Socket.IO to see what's happening. Add `logger=True, engineio_logger=True` to your `Server()` instance.

The problem that you describe is really very common, and happens when something that the application does is blocking. I don't know what it is, but it clearly seems like you do have a blocking problem. By blocking I mean blocking that is incompatible with eventl

[2019-03-16 16:20] Dr-Chaos opened #272 "How to pass datas on connection"
Hi, I would like to send data when connecting (from the client to the server), from Python to JavaScript, and inversely.

For exemple:

Client.py -> Server.py Work
client.py:
[code]

server.py
[code]

Client.py -> Server.js : Work
client.py:
[code]

server.js
[code]

Client.js -> Server.py Don't work
client.js
[code]

server.py
[code]
and I get
[code]

I do not know how to manage this, for having

[2019-03-16 17:27] miguelgrinberg commented on #272
The query string is a standard component of a URL. You can parse it by splitting the string at each `&`, and then for each part splitting again at the `=`, which will give you the variable name and the value.

[2019-03-16 17:38] Dr-Chaos commented on #272
Yes, I thought about it, but I was hoping for a more elegant and common method to Socketio Python and Socketio JS
Because my server receives requests in both Python and JavaScript, so If I can treat all queries in the same way, whether they come from Python or JS, I'll be better :)

[2019-03-16 17:41] miguelgrinberg commented on #272
The query string is the most common method for this. Sending custom headers like you are doing in Python is really the unusual solution here, and it is actually not possibly to do from the browser. You can send a query string from my Python client as follows:

    sio.connect('http://localhost:1337?username=root&password=root')

[2019-03-16 18:54] voidloop opened #273 "Starvation"
Hi, I would like to send data from server to client on connection event. Is it possible? Why does it seem the server is blocked if it emits an event on own connection event?

**latency_client.py**:
[code]

**latency_server.py**:
[code]

The server never calls ping function. What's wrong in my code?
Thank you.

[2019-03-16 19:13] miguelgrinberg commented on #239
I'm going to close this, with the assumption that all the Python 2 problems have been addressed. If any new problems appear please open a new issue.

[2019-03-16 19:13] #239 closed

[2019-03-16 19:14] #237 closed

[2019-03-16 19:16] Dr-Chaos commented on #272
It was perfectly what I was looking for, thank you very much !

[2019-03-16 19:17] miguelgrinberg commented on #273
Well, it seems nothing is wrong with your code. I need to investigate, but it would appear as if these early packets that are being exchanged right after the connection is established affect the upgrade to websocket process.

I was able to workaround the problem by having the client connect via websocket directly:

    await sio.connect('http://localhost:5000', transports=['websocket'])

I'll inve

[2019-03-16 19:18] #272 closed

[2019-03-16 19:46] miguelgrinberg commented on #273
@voidloop please upgrade your python-engineio package to 3.5.0 or later to resolve this issue.

[2019-03-16 19:46] #273 closed

[2019-03-17 06:15] iwctwbai opened #274 "Problems arising from the direct shutdown of the network"
Hi！
I shut down the network directly on a normal connection and the connection timed out and could not be reconnected.
How can I set the timeout manually and automatically reconnect when the connection fails?

# My Code:
[code]

# My Log:
Attempting polling connection to http://localhost:1288/socket.io/?transport=polling&EIO=3
Polling connection accepted with {'sid': '8aqxvbrh9823d89415169812', 'u

[2019-03-17 08:43] miguelgrinberg commented on #274
@iwctwbai could you please install the master branch of the python-engineio package and let me know if the problem is now fixed? Use this command:

    pip install https://github.com/miguelgrinberg/python-engineio/archive/master.zip

[2019-03-17 10:11] iwctwbai commented on #274
I see. Should I change the code?

[2019-03-17 10:22] miguelgrinberg commented on #274
No, just install the fixed code with the command I showed above and try again. If that works well, I'll do a release with the fix.

[2019-03-17 10:29] iwctwbai commented on #274
thanks

I executed the order and got the results
[code]

The problem still exists, just like before.
I didn't restart the computer or change the code.

[2019-03-17 10:29] miguelgrinberg commented on #274
Can you show me the output of the application again please?

[2019-03-17 10:30] iwctwbai commented on #274
Okay, wait a minute.

[2019-03-17 10:33] iwctwbai commented on #274
# My Log
[code]

[2019-03-17 10:36] iwctwbai commented on #274
Finally, I've restored my network connection, but it can't be reconnected.
output only "working" forever

[2019-03-17 10:36] miguelgrinberg commented on #274
Thanks. Run the `pip install` command one more time and try again. If you still get errors, please send me another log.

[2019-03-17 10:57] iwctwbai commented on #274
Thanks！
### Fix command
[code]

### My log
[code]

[2019-03-17 10:59] miguelgrinberg commented on #274
For some reason the last code change that I've made did not get installed for you. Try the following:

[code]

[2019-03-17 11:01] iwctwbai commented on #274
Thank you very much.
Let me have a try.

[2019-03-17 11:10] iwctwbai commented on #274
It seems to have succeeded!
The disconnected function will be called back in a minute
A minute after networking calls back the reconnected function
How can I change the timeout here?

[2019-03-17 11:11] iwctwbai commented on #274
It seems to be this "ping Timeout" parameter

[2019-03-17 11:16] iwctwbai commented on #274
Sorry, it's my operation problem.
Bugs have been resolved.
Can you tell me when you release the fix version please?
I'll install it on the production machine.

[2019-03-17 12:50] iwctwbai commented on #274
it's happend errors on the production machine
### My Log
[code]

[2019-03-20 17:55] fenicento opened #275 "which version of JS socket.io client?"
Hi, I'm experiencing frequent disconnections from the client with error transport close", while on the server I have:

0aacf7de620d4211a4c4217c3b3fd859: Received packet PING data None
Receive error -- socket is closed

this is how I initialize the server:

[code]

the client sends a JSON object at 30 fps to the server, which should be fine performance wise.

I read around that a possible cause cou

[2019-03-20 19:01] miguelgrinberg commented on #275
All the 1.x and 2.x JS clients should work.

Do you see any difference if you revert the ping interval and timeout to the defaults? Your settings will add a lot of overhead in the connection, you are forcing ping/pong packets every three seconds. No need for that.

There are lots of possible causes for this problem. I would investigate if that high rate of data packets isn't unintentionally causin

[2019-03-21 15:24] nlhnt commented on #212
I am having the same issue with the example running on Windows 10.
The client is accepted on the server side, but then client loses connection.
There are time it works and times it doesn't - my bet is that this is Windows specific.
I will try to deploy with Docker and come back with more information.

[2019-03-22 00:58] Avinash-Raj opened #276 "Do we need to create socketio.Server instances for each django socket apps?"
I have created one django project with two socket apps having socketio.Server instances created on each app .  Both socket app initiates a background task at the start for achieving separate functionalities.

My question is, can we create a single socketio Server instance on the project root folder and make both the apps to share the created server instance and achieving the functionality by emitt

[2019-03-22 09:16] miguelgrinberg commented on #276
Do you intend to share the Python module where the server is created, as in importing the same module into both your applications? Or do you really mean creating a single server used by both applications? The former should be no problem. The latter can also work, but you need to decide how do you intend each of the Django apps to talk to this unified Socket.IO server. Your options are to use the "

[2019-03-24 15:31] h0rn3t commented on #256
@miguelgrinberg Can you explain how to handle that exceptions, thanks.
i have 2000 clients and some times i received in logs that Unhandled exception
[code]

[2019-03-24 15:36] miguelgrinberg commented on #256
That is an error triggered by aiohttp, so it's not something your application can control. If they don't provide a way to suppress or handle these errors, then I think you'll have to tolerate/ignore them.

[2019-03-24 22:42] AbdulrahmanMossad opened #277 "I got this printing all over the terminal:"GET /socket.io/?EIO=4&transport=websocket HTTP/1.1" 200 0 95.515740 and can't run my code"

[2019-03-24 23:59] miguelgrinberg commented on #277
It's not possible for me to diagnose this issue with the little information that you provided. Can you provide more details, and maybe some code?

[2019-03-25 01:27] AbdulrahmanMossad commented on #277
I used Reinforcement Learning in my project and  build my Unity3D environment  in headless mode , when I do training and for a short time connection is fine  then I found that the conecttion is interrupted where I see this message like this :
127.0.0.1 - [25 / Mar / 2019 05:02:25] "GET /socket.io/?EIO=4&transport=websocket HTTP / 1.1" 200 0 60.221815
 
The training process stops i found some peopl

[2019-03-25 01:47] AbdulrahmanMossad commented on #277
![Screenshot from 2019-03-25 05-32-05](https://user-images.githubusercontent.com/46299447/54890100-6fe4ff80-4eb0-11e9-9e71-9bb59ed380ae.png)

[2019-03-25 03:27] cxong opened #278 "Custom JSON encoder"
python-socketio uses plain `json.dumps` to encode data. This means if the data is not serializable, it cannot be emitted.

Usually you get around this by defining a custom `JSONEncoder` and passing this to the `json.dumps` method like (https://stackoverflow.com/a/3768975/2038264):

[code]

But this method isn't exposed by the `Packet` class. I'd like to be able to pass maybe a `json_encoder` argum

[2019-03-25 09:17] miguelgrinberg commented on #277
WebSocket connections can be interrupted for a lot of different reasons, the message that you are seeing in your console just indicates that a WebSocket request ended, it is not indicative of an error, and it does not indicate what caused the request to end, unfortunately. Your application should be able to adapt to these disconnections. Your client, for example, should be attempting to reconnect

[2019-03-25 09:19] miguelgrinberg commented on #278
You can pass your own json encode/decode functions in the `Server()` constructor. See the `json` option: https://python-socketio.readthedocs.io/en/latest/api.html#socketio.Server

[2019-03-25 16:39] AbdulrahmanMossad commented on #277
i train my code without gui (headless mode) , when WebSocket request ended i run gui and found problem solved (connection starts again).
but i want to complete training  without Gui .

[2019-03-25 16:53] miguelgrinberg commented on #277
I don't understand why the GUI is part of this discussion. A Socket.IO client must always reconnect if the connection is dropped, that is how the protocol works. Even if you are using a headless client, a disconnection should be followed by an immediate attempt to reconnect.

[2019-03-25 17:56] AbdulrahmanMossad commented on #277
sorry i want to ask a question please ,  127.0.0.1 - [25 / Mar / 2019 05:02:25] "GET /socket.io/?EIO=4&transport=websocket HTTP / 1.1" 200 0 60.221815   this line means attempt to reconnect ?
if yes should i see it always replicates until connection established again ? because this line  replicates for 4 or 5 times and stopped like image that i sent .

[2019-03-25 18:10] miguelgrinberg commented on #277
That line is printed when a request ends. As I said above, there is little information there, I can't really tell you what's going on from that alone.

[2019-03-25 21:16] #278 closed

[2019-03-26 20:00] WaleedMeselhy opened #279 "What is difference between flask-socketio and python-socketio?"

[2019-03-26 22:47] miguelgrinberg commented on #279
- python-socketio is a dependency of flask-socketio.
- python-socketio works with pretty much any Python web framework, while flask-socketio is obviously a Flask extension.

[2019-03-28 07:38] wangyang02 opened #281 "RedisManager listen hang"
I'm using Flask-Socketio building a websocket server.I have read doc about flask socketio 【Emitting from an External Process】and chose to use this feature.But after hours the websocket server could not receive message from this external process(flask-socketio server will listen this event and do something).I have spend some time to dig into it ,describe as below:

- When emitting from an external

[2019-03-28 09:15] miguelgrinberg commented on #281
My understanding is that timeouts do not apply to pub/sub, only to regular client connections. Pub/sub is supposed to be idle until an event occurs, so it does not make sense to have timeouts there.

I don't really know. All this package is doing is opening a pub/sub connection. I guess there could be bugs in gevent that could cause this. You may want to test the same application under gunicorn+ev

[2019-03-28 09:27] wangyang02 commented on #281
Yeah  that's correct, timeout do not apply to Pub/Sub , but if redis server config timeout option for some  purpose , that would be a problem.Could  you consider provide a timeout option for RedisManager ?

[2019-03-28 09:38] miguelgrinberg commented on #281
I don't understand why a timeout is necessary. I suggest you upgrade your redis and socketio packages, you may be missing on changes. I do not see any problems when using recent versions.

[2019-03-28 09:53] wangyang02 commented on #281
all right, I will try. Thank you ~

[2019-03-28 11:36] #281 closed

[2019-03-28 16:07] grjzwaan opened #282 "Example ASGI server does not work with newer Uvicorn"
Niet that I do not neccesarily expect that the example would keep working as dependencies change. However, perhaps there’s an easy fix or insightful remark that’ll help me :)

**Issue**
The example ASGI server does not work with Uvicorn 0.6, but it does work with Uvicorn 0.3.

`if __name__ == '__main__':
    loop = auto_loop_setup()
    sio.start_background_task(background_task)
    uvicorn.run(ap

[2019-03-28 21:28] WaleedMeselhy commented on #279
Which is best for production messaing app?
1 - Flask_socketio + gunicorn + eventlet
2 - python-socketio + gunicorn + aiohttp

[2019-03-28 23:03] miguelgrinberg commented on #279
There is no better or worse, really. Use the stack that you like best.

[2019-03-29 11:36] miguelgrinberg commented on #282
It's unfortunately that uvicorn changed in a way that broke these examples, but I'll see if I can fix everything to work again. Thanks.

[2019-03-29 20:27] xsduan opened #283 "More definitive HTTPS connection documentation"
Possibly related: #69, #222

I really like this library, but it is not entirely clear how to set it up to use https/wss connections using the client (and the server, I suppose). I have tried to simply connect to an https url, but it does not work, so there’s something extra to it. I can’t find anything on the documentation about how to set something like that up, even just a relevant link would be

[2019-03-30 00:21] miguelgrinberg commented on #283
What have you tried? Please indicate how you create the secure server and how you connected to it from the client. Also show any errors you've got on either side.

[2019-03-31 04:51] xsduan commented on #283
[code]

I'm using a self signed certificate for testing purposes, so it's to be expected, but there's no documentation on where to insert a "trusted" cert (e.g. [requests](http://docs.python-requests.org/en/master/user/advanced/#client-side-certificates). I guess can hold off on testing ssl until I get an actual domain name, but it would have been nice to do some local testing beforehand.

In any

[2019-03-31 12:06] miguelgrinberg commented on #283
If I explain how to use self-signed certificates, then people will start using them, and that is a bad idea. If you are running tests, then you do not need SSL, but if you really need to do this, then you can configure requests to accept your self-signed certificate through environment variables.

[2019-03-31 17:01] xsduan commented on #283
I suppose. As I said I can probably wait until I get an actual domain to do this so the main issue is that there is literally no mention of HTTPS/WSS in the docs or that it automatically works based on URL which can be a bit confusing, but it's a minor issue anyways.